<!-- In your partial, remove the <script> tag completely -->
<div class="flex flex-col justify-between" style="min-height: calc(100vh - 167px);">
  <div style="" class="w-full p-5">
    <div class="options-sidebar space-y-2">
      <div class="flex justify-between border-b pb-2 items-center">
        <p class="w-1/2 nata-sans text-sm">Site Menu</p>
        <div class="w-1/2 flex gap-1 justify-end items-center">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="#000000" id="Plus--Streamline-Phosphor" height="10" width="10">
            <path d="M15.84 8c0 0.3608125 -0.29251875 0.65331875 -0.65333125 0.65333125H8.65333125v6.5333375c0 0.50293125 -0.54444375 0.81726875 -0.98 0.5658 -0.2021375 -0.11670625 -0.3266625 -0.3323875 -0.3266625 -0.5658V8.65333125H0.81333125c-0.50293125 0 -0.81726875 -0.54444375 -0.5658 -0.98 0.1167125 -0.20215 0.33238125 -0.326675 0.5658 -0.3266625h6.5333375V0.81333125c0 -0.50293125 0.54444375 -0.81726875 0.98 -0.5658 0.2021375 0.11670625 0.3266625 0.3323875 0.3266625 0.5658v6.5333375h6.5333375c0.3608125 0.0000125 0.65333125 0.29251875 0.65333125 0.65333125Z" stroke-width="0.0625"></path>
          </svg>
          <p onclick="openEditorPopup('Add Page')" class=" nata-sans text-sm hover:text-green-500">Add Page</p>
        </div>
      </div>

      <% (options.sort_by { |key, value| value["position"].to_i }).map do |page_name, page_data| %>
        <div draggable="true" class="container-<%= page_data['id'] %> draggable-page p-2 border rounded flex justify-between items-center hover:border-green-500 hover:bg-green-50">
          <div class="flex gap-2 items-center justify-start">
            <svg class="cursor-pointer" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="#000000" id="Dots-Six-Vertical--Streamline-Phosphor" height="14" width="14">
              <path d="M5.648 1.336c0 0.9052875 -0.98 1.4710875 -1.764 1.01844375 -0.784 -0.4526375 -0.784 -1.58425 0 -2.0368875C4.062775 0.2143375 4.26556875 0.16 4.472 0.16c0.6494875 0 1.176 0.5265125 1.176 1.176Zm5.88 1.176c0.9052875 0 1.4710875 -0.98 1.01844375 -1.764 -0.4526375 -0.784 -1.58425 -0.784 -2.0368875 0 -0.10321875 0.178775 -0.15755625 0.38156875 -0.15755625 0.588 0 0.6494875 0.5265125 1.176 1.176 1.176ZM4.472 6.824c-0.9052875 0.0000375 -1.4711 0.98006875 -1.01841875 1.76404375 0.452675 0.78398125 1.58428125 0.78393125 2.03689375 -0.0000875 0.10319375 -0.1787625 0.157525 -0.38154375 0.157525 -0.58795625 0 -0.64950625 -0.52649375 -1.17603125 -1.176 -1.176Zm7.056 0c-0.9052875 -0.0000375 -1.47108125 0.97993125 -1.018475 1.76395625 0.4526125 0.78401875 1.58421875 0.78406875 2.03689375 0.0000875 0.10323125 -0.17878125 0.15758125 -0.38159375 0.15758125 -0.58804375 0 -0.64946875 -0.52653125 -1.17596875 -1.176 -1.176ZM4.472 13.488c-0.9052875 0.0000375 -1.4711 0.98006875 -1.01841875 1.76404375 0.452675 0.78398125 1.58428125 0.78393125 2.03689375 -0.0000875 0.10319375 -0.1787625 0.157525 -0.38154375 0.157525 -0.58795625 0 -0.64950625 -0.52649375 -1.17603125 -1.176 -1.176Zm7.056 0c-0.9052875 -0.0000375 -1.47108125 0.97993125 -1.018475 1.76395625 0.4526125 0.78401875 1.58421875 0.78406875 2.03689375 0.0000875 0.10323125 -0.17878125 0.15758125 -0.38159375 0.15758125 -0.58804375 0 -0.64946875 -0.52653125 -1.17596875 -1.176 -1.176Z" stroke-width="0.0625"></path>
            </svg>
            <%= link_to page_name, '/manage/website/editor/' + page_data['slug'], class: 'nata-sans text-sm capitalize' %>

          </div>
          <div class="pages-actions-outer relative w-7 h-7 border rounded-full items-center justify-center flex p-1 hover:bg-green-500 hover:border-green-500">
            <svg class="cursor-pointer" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="#000000" id="Dots-Three--Streamline-Phosphor" height="14" width="14">
              <path d="M9.176 8c0 0.9052875 -0.98 1.4710875 -1.764 1.01844375 -0.784 -0.4526375 -0.784 -1.58425 0 -2.0368875 0.17875625 -0.10320625 0.3815875 -0.15755 0.588 -0.15755625 0.64950625 -0.00003125 1.176 0.52649375 1.176 1.176Zm5.488 -1.176c-0.9052875 -0.0000375 -1.47108125 0.97993125 -1.018475 1.76395625 0.4526125 0.78401875 1.58421875 0.78406875 2.03689375 0.0000875 0.10323125 -0.17878125 0.15758125 -0.38159375 0.15758125 -0.58804375 0 -0.64946875 -0.52653125 -1.17596875 -1.176 -1.176Zm-13.328 0c-0.9052875 -0.0000375 -1.47108125 0.97993125 -1.018475 1.76395625 0.4526125 0.78401875 1.58421875 0.78406875 2.03689375 0.0000875 0.10323125 -0.17878125 0.15758125 -0.38159375 0.15758125 -0.58804375 0 -0.64946875 -0.52653125 -1.17596875 -1.176 -1.176Z" stroke-width="0.0625"></path>
            </svg>
            <div class="page-hover-dropdown hidden">
              <div class="flex gap-2 hover:bg-green-50 p-2.5 py-2 items-center">
                <svg class="mx-0.5 " xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18 18" fill="currentColor" id="Gear-Light--Streamline-Phosphor" height="18" width="18">
                  <path d="M8.999142187499999 5.04689765625c-3.04193671875 0 -4.9431515625 3.2930015624999998 -3.4221796875 5.92739296875 1.5209648437499999 2.6343984375 5.323387500000001 2.6343984375 6.844359375 0 0.3468234375 -0.60071484375 0.5294109375 -1.2821484375 0.5294109375 -1.9757953125 -0.002840625 -2.18122734375 -1.7703632812499999 -3.94875703125 -3.951590625 -3.9515976562499997Zm0 6.87234375c-2.24838984375 0.0000984375 -3.6536132812499997 -2.43378984375 -2.52950625 -4.381003125 1.1241070312499999 -1.94721328125 3.93459609375 -1.94733984375 5.0588789062499995 -0.00022500000000000002 0.2563875 0.44403046875 0.39136640624999997 0.9477421874999999 0.39136640624999997 1.46048203125 0 1.61303203125 -1.30770703125 2.9206687500000004 -2.9207390625 2.9207460937499996Zm7.387762500000001 -2.67677578125c0.0051539062500000005 -0.16235859375 0.0051539062500000005 -0.32558203124999996 0 -0.487940625l1.3169109374999999 -1.64592421875c0.1020796875 -0.127771875 0.1374609375 -0.29640234374999996 0.09535078125 -0.4544296875 -0.20603671875 -0.7765171875 -0.51456796875 -1.52213203125 -0.9174515624999999 -2.2171921875000002 -0.08116171875 -0.14307890625 -0.22573828125 -0.23882343749999999 -0.3891515625 -0.257709375l-2.10035390625 -0.2328046875q-0.165796875 -0.1778203125 -0.3436171875 -0.3436171875l-0.2336625 -2.10121171875c-0.0188859375 -0.16341328125000001 -0.11463046875 -0.30798984375 -0.257709375 -0.3891515625 -0.69421640625 -0.4017234375 -1.43861484375 -0.70965 -2.21375390625 -0.9157359374999999 -0.15843515625 -0.0414 -0.32711484375 -0.0050484375 -0.4544296875 0.09793125l-1.6493625 1.32034921875c-0.16235859375 -0.0051539062500000005 -0.32558203124999996 -0.0051539062500000005 -0.487940625 0L7.10924765625 0.293821875c-0.127771875 -0.1020796875 -0.29640234374999996 -0.13746796875 -0.4544296875 -0.0953578125C5.87830078125 0.4045078125 5.1326859375 0.7130390625 4.43762578125 1.11592265625c-0.14307890625 0.08116171875 -0.23882343749999999 0.22573828125 -0.257709375 0.38914453125000004l-0.22936640625000002 2.1003609375q-0.1778203125 0.1666546875 -0.3436171875 0.3436171875l-2.1020765625 0.23881640625c-0.16340624999999998 0.0188859375 -0.30798281250000004 0.11463046875 -0.38914453125000004 0.257709375C0.71398828125 5.139780468750001 0.4060546875 5.8841859375 0.19996875 6.659325000000001c-0.04038046875 0.15642421874999998 -0.0050835937500000004 0.32274140625 0.0953578125 0.44927578125l1.32034921875 1.6493625c-0.0051539062500000005 0.16235859375 -0.0051539062500000005 0.325575 0 0.48793359375L0.29446875 10.892685937500001c-0.1020796875 0.127771875 -0.13746796875 0.29640234374999996 -0.0953578125 0.4544296875 0.20640234375000002 0.77503359375 0.5149265625 1.51917890625 0.9174585937499999 2.21289609375 0.08116171875 0.14307890625 0.22573828125 0.23882343749999999 0.38914453125000004 0.257709375l2.1003609375 0.2328046875q0.1666546875 0.1778203125 0.3436171875 0.3436171875l0.238809375 2.09863828125c0.0188859375 0.16340624999999998 0.1146375 0.30798281250000004 0.25771640625 0.38914453125000004 0.694209375 0.4017234375 1.43861484375 0.70965 2.21375390625 0.9157359374999999 0.15802734375 0.04211015625 0.32665781250000003 0.00672890625 0.4544296875 -0.09535078125l1.6407703125 -1.3160531249999998c0.16235859375 0.0051539062500000005 0.32558203124999996 0.0051539062500000005 0.487940625 0l1.6502203125 1.3212070312500002c0.09148359375 0.0729984375 0.20509453125 0.11268984375 0.32213671875 0.11253515625 0.04464140625 -0.00016171875 0.08909296874999999 -0.005934375 0.13229296875 -0.017184375 0.7750265625 -0.2063953125 1.51917890625 -0.51491953125 2.21289609375 -0.9174515624999999 0.14307890625 -0.08116171875 0.23882343749999999 -0.22573828125 0.257709375 -0.3891515625l0.23279765625 -2.10035390625q0.17782734375 -0.165796875 0.3436171875 -0.3436171875l2.10121875 -0.2336625c0.16340624999999998 -0.0188859375 0.30798984375 -0.11463046875 0.38914453125000004 -0.257709375 0.40187109374999996 -0.6941390624999999 0.70981171875 -1.4385656249999998 0.9157429687499999 -2.21375390625 0.04211015625 -0.15802734375 0.006721875 -0.32665781250000003 -0.0953578125 -0.4544296875Zm-0.2663015625 3.5761921875000002 -2.0307796875 0.225928125c-0.12689296875 0.014624999999999999 -0.24383671875000001 0.075853125 -0.32815546874999996 0.17180859375 -0.16978359375 0.1912640625 -0.35078906249999997 0.37226953125 -0.542053125 0.542053125 -0.09595546875 0.08431875 -0.15717656249999998 0.2012625 -0.17180859375 0.32815546874999996l-0.225928125 2.0299148437500003c-0.47546015625000004 0.25355390625 -0.97503046875 0.45902109375 -1.4912999999999998 0.61335703125l-1.5952359375 -1.2765375c-0.09149062499999999 -0.0729984375 -0.2051015625 -0.1126828125 -0.32214375 -0.11253515625h-0.0309234375c-0.25521328125000003 0.01460390625 -0.51105234375 0.01460390625 -0.766265625 0 -0.1274625 -0.00779765625 -0.25327968749999996 0.03199921875 -0.3530671875 0.11167734375L6.66855703125 16.729875c-0.5157984375 -0.15518671875 -1.01480625 -0.36152578125 -1.48957734375 -0.61593046875l-0.225928125 -2.0290640625000003c-0.014624999999999999 -0.12689296875 -0.075853125 -0.24383671875000001 -0.17180859375 -0.3281484375 -0.1912640625 -0.169790625 -0.37226953125 -0.35079609375 -0.542053125 -0.54206015625 -0.08431875 -0.0959484375 -0.2012625 -0.15717656249999998 -0.32815546874999996 -0.17180859375l-2.0299148437500003 -0.225928125c-0.25329375 -0.47408203125 -0.45875390625 -0.9722109375 -0.61335703125 -1.486996875l1.2765375 -1.59524296875c0.07967109375 -0.09979453125 0.11946796875 -0.22561171875 0.11167031250000001 -0.3530671875 -0.01460390625 -0.25521328125000003 -0.01460390625 -0.51105234375 0 -0.766265625 0.00779765625 -0.1274625 -0.03199921875 -0.25327265625 -0.11167031250000001 -0.3530671875L1.2677625 6.66791015625c0.15518671875 -0.5157984375 0.36151875 -1.01480625 0.61593046875 -1.48957734375l2.0290570312500003 -0.225928125c0.12689999999999999 -0.014624999999999999 0.24383671875000001 -0.075853125 0.32815546874999996 -0.17180859375 0.169790625 -0.1912640625 0.35078906249999997 -0.37226953125 0.542053125 -0.542053125 0.09595546875 -0.08431875 0.15718359375000002 -0.2012625 0.17180859375 -0.32815546874999996l0.225928125 -2.0299148437500003c0.47408906250000005 -0.25329375 0.9722109375 -0.45875390625 1.48700390625 -0.61335703125l1.59524296875 1.2765375c0.09979453125 0.07967109375 0.2256046875 0.11946796875 0.3530671875 0.11167031250000001 0.25521328125000003 -0.01460390625 0.51105234375 -0.01460390625 0.766265625 0 0.12745546875 0.00779765625 0.25327265625 -0.03199921875 0.3530671875 -0.11167031250000001l1.594378125 -1.2765375c0.51580546875 0.15518671875 1.01480625 0.36151875 1.489584375 0.61593046875l0.225928125 2.0307796875c0.014624999999999999 0.12689296875 0.075853125 0.24383671875000001 0.17180859375 0.32815546874999996 0.1912640625 0.16978359375 0.37226953125 0.35078906249999997 0.542053125 0.542053125 0.08431875 0.09595546875 0.2012625 0.15717656249999998 0.32815546874999996 0.17180859375l2.0299148437500003 0.225928125c0.25318828125000004 0.473540625 0.45864843749999995 0.97107890625 0.61335703125 1.4852812499999999L15.453984375 8.262295312500001c-0.079678125 0.09979453125 -0.11946796875 0.22561171875 -0.11167734375 0.3530671875 0.01460390625 0.25521328125000003 0.01460390625 0.51105234375 0 0.766265625 -0.007790625 0.1274625 0.03199921875 0.25327265625 0.11167734375 0.3530671875l1.2765375 1.594378125c-0.15463828125 0.5157421875 -0.36039375 1.01474296875 -0.61421484375 1.489584375Z" stroke-width="0.0703"></path>
                </svg>
                <p class="nata-sans text-xs">Settings</p>
              </div>
              <div class="flex gap-2 hover:bg-green-50 p-2.5 py-1.5 items-center">
                <svg id="Layer_1" xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 50 50" width="24" height="24">
                  <path d="M6.04,9.12c0-.13.11-.24.24-.24h29.12c.13,0,.24.11.24.24v4.76h2v-4.76c0-1.23-1-2.24-2.24-2.24H6.27c-1.23,0-2.24,1-2.24,2.24v25.32c0,1.23,1,2.24,2.24,2.24h10.85v-2H6.27c-.13,0-.24-.11-.24-.24v-15.5h12.76v-2H6.04v-7.82Z"/>
                  <rect x="8.65" y="11.74" width="2.25" height="2"/>
                  <rect x="13.64" y="11.74" width="2.34" height="2"/>
                  <path d="M45.67,41.41l-5.9-5.9c2.06-1.99,3.35-4.78,3.35-7.86,0-6.04-4.91-10.95-10.95-10.95s-10.95,4.91-10.95,10.95,4.91,10.95,10.95,10.95c2.23,0,4.3-.67,6.04-1.82l6.05,6.05,1.41-1.41ZM23.22,27.65c0-4.93,4.01-8.95,8.95-8.95s8.95,4.01,8.95,8.95-4.01,8.95-8.95,8.95-8.95-4.01-8.95-8.95Z"/>
                </svg>
                <p class="nata-sans text-xs">SEO Basics</p>
              </div>
              <div class="flex gap-2 hover:bg-green-50 p-2.5 py-1.5 items-center">
                <svg id="Layer_1" xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 50 50" width="24" height="24">
                  <path d="M8.32,18.45h21.94v-2H8.32v-7.97h30.47v4.82h2v-4.94c0-1.04-.85-1.89-1.89-1.89H8.21c-1.04,0-1.89.85-1.89,1.89v25.67c0,1.04.85,1.89,1.89,1.89h5.38v-2h-5.27v-15.47Z"/>
                  <rect x="10.72" y="11.35" width="2.12" height="2"/>
                  <rect x="15.68" y="11.35" width="2.25" height="2"/>
                  <path d="M38.74,33.64c-1.57,0-2.95.75-3.86,1.89l-6.38-3.59c.11-.4.18-.81.18-1.25,0-.23-.04-.45-.07-.67l6.25-3.3c.9,1.16,2.3,1.92,3.88,1.92,2.72,0,4.94-2.22,4.94-4.94s-2.22-4.94-4.94-4.94-4.94,2.22-4.94,4.94c0,.43.07.83.17,1.23l-6.04,3.19c-.87-1.41-2.42-2.36-4.19-2.36-2.72,0-4.94,2.22-4.94,4.94s2.22,4.94,4.94,4.94c1.57,0,2.96-.75,3.87-1.9l6.38,3.58c-.11.4-.18.82-.18,1.26,0,2.72,2.22,4.94,4.94,4.94s4.94-2.22,4.94-4.94-2.22-4.94-4.94-4.94ZM38.74,20.76c1.62,0,2.94,1.32,2.94,2.94s-1.32,2.94-2.94,2.94-2.94-1.32-2.94-2.94,1.32-2.94,2.94-2.94ZM23.74,33.64c-1.62,0-2.94-1.32-2.94-2.94s1.32-2.94,2.94-2.94,2.94,1.32,2.94,2.94-1.32,2.94-2.94,2.94ZM38.74,41.53c-1.62,0-2.94-1.32-2.94-2.94s1.32-2.94,2.94-2.94,2.94,1.32,2.94,2.94-1.32,2.94-2.94,2.94Z"/>
                </svg>
                <p class="nata-sans text-xs">Social Share</p>
              </div>
              <div>
                <hr>
              </div>
              <div class="flex gap-2 hover:bg-green-50 p-2.5 py-1.5 items-center">
                <svg id="Layer_1" xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 50 50" width="24" height="24">
                  <path d="M39.28,8.17H10.22c-1.17,0-2.12.95-2.12,2.12v29.41c0,1.17.95,2.12,2.12,2.12h29.06c1.17,0,2.12-.95,2.12-2.12V10.29c0-1.17-.95-2.12-2.12-2.12ZM10.1,19.73l9.56-9.56h7.38L10.1,27.11v-7.38ZM10.1,38.41v-8.47L29.87,10.17h8.47l-28.23,28.23ZM10.22,10.17h6.62l-6.73,6.73v-6.62c0-.06.05-.12.12-.12ZM39.28,39.82H11.51l27.88-27.88v27.76c0,.06-.05.12-.12.12Z"/>
                </svg>
                <p class="nata-sans text-xs">Page Background</p>
              </div>
              <div>
                <hr>
              </div>
              <div onclick="renamePageFromMenu('<%= page_data['id'] %>', '<%= page_name %>')" class="flex gap-2 hover:bg-green-50 p-2.5 py-1.5 items-center cursor-pointer">
                <svg id="Layer_1" xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 50 50" width="24" height="24">
                  <path d="M43.67,9.04h-7.17v2h7.03v27.91h-7.03v2h7.17c1.03,0,1.86-.83,1.86-1.86V10.9c0-1.03-.83-1.86-1.86-1.86Z"/>
                  <path d="M4.47,10.9v28.19c0,1.03.83,1.86,1.86,1.86h7.17v-2h-7.03V11.04h7.03v-2h-7.17c-1.03,0-1.86.83-1.86,1.86Z"/>
                  <path d="M32.67,15.77h-15.88c-1.48,0-2.68,1.2-2.68,2.68v4.41h2v-4.41c0-.37.3-.68.68-.68h6.94v15.12h-2.09v2h6.18v-2h-2.09v-15.12h6.94c.37,0,.68.3.68.68v4.41h2v-4.41c0-1.48-1.2-2.68-2.68-2.68Z"/>
                </svg>
                <p class="nata-sans text-xs">Rename</p>
              </div>
              <div onclick="duplicateFromMenu('<%= page_data['id'] %>')" class="flex gap-2 hover:bg-green-50 p-2.5 py-1.5 items-center">
                <svg id="Layer_1" xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 50 50" width="24" height="24">
                  <path d="M30.96,7.41l-10.17.04c-1.28,0-2.32,1.05-2.32,2.33v4.65h-5.09c-1.14,0-2.06.92-2.06,2.06v22.68c0,1.13.92,2.06,2.06,2.06h16.94c1.13,0,2.06-.92,2.06-2.06v-5.53h5.79c1.28,0,2.33-1.04,2.33-2.33v-14.35l-9.54-9.54ZM31.55,10.82l6.69,6.69h-6.69v-6.69ZM30.33,39.22l-17-.06.06-22.74h5.09v14.88c0,1.28,1.04,2.33,2.33,2.33h9.58l-.05,5.59ZM38.18,31.63h-17.38c-.18,0-.33-.15-.33-.33V9.77c0-.18.15-.33.33-.33l8.75-.03v8.59c0,.83.68,1.51,1.51,1.51h7.45v11.79c0,.18-.15.33-.33.33Z"/>
                </svg>
                <p class="nata-sans text-xs">Duplicate</p>
              </div>
              <div class="flex gap-2 hover:bg-green-50 p-2.5 py-1.5 items-center">
                <svg id="Layer_1" xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 50 50" width="24" height="24">
                  <path d="M40.76,6.76h-21.29c-1.33,0-2.41,1.08-2.41,2.41v6.76h-7.82c-1.33,0-2.41,1.08-2.41,2.41v22.47c0,1.33,1.08,2.41,2.41,2.41h21.65c1.33,0,2.41-1.08,2.41-2.41v-7.71h7.47c1.33,0,2.41-1.08,2.41-2.41V9.18c0-1.33-1.08-2.41-2.41-2.41ZM31.29,40.82c0,.23-.18.41-.41.41H9.24c-.23,0-.41-.18-.41-.41v-22.47c0-.23.18-.41.41-.41h7.82v12.76c0,1.33,1.08,2.41,2.41,2.41h11.82v7.71ZM41.18,30.71c0,.23-.18.41-.41.41h-21.29c-.23,0-.41-.18-.41-.41V9.18c0-.23.18-.41.41-.41h21.29c.23,0,.41.19.41.41v21.53Z"/>
                  <rect x="23.82" y="14.15" width="12.53" height="2"/>
                  <rect x="23.82" y="20.85" width="12.53" height="2"/>
                </svg>
                <p class="nata-sans text-xs">Copy</p>
              </div>
              <div onclick="showInMenu('<%= page_data['id'] %>')"
                   data-menu-item-id="<%= page_data['id'] %>"
                   class="flex gap-2 hover:bg-green-50 p-2.5 py-1.5 items-center">
                <svg id="Layer_1" xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 50 50" width="24" height="24" class="menu-icon hide-in-menu-icon-show <% unless page_data['show_in_menu'] == true %> hidden <% end %>">
                  <path d="M45.61,24.35l-.05-.15c-.06-.15-5.94-14.75-20.22-14.75S4.6,24.01,4.54,24.16l-.29.88.29.8c.06.15,6.54,14.72,20.8,14.72s20.17-14.6,20.22-14.75l.19-.81-.14-.65ZM43.67,25.14c-.43,1.03-5.91,13.42-18.33,13.42S6.43,25.18,6.4,25.1l-.03-.1.03-.09c.36-.79,6.33-13.48,18.95-13.48s17.9,12.38,18.33,13.42l.03.14-.03.14Z"></path>
                  <path d="M25.39,17.29c-4.04,0-7.33,3.29-7.33,7.33s3.29,7.33,7.33,7.33,7.33-3.29,7.33-7.33-3.29-7.33-7.33-7.33ZM25.39,29.95c-2.94,0-5.33-2.39-5.33-5.33s2.39-5.33,5.33-5.33,5.33,2.39,5.33,5.33-2.39,5.33-5.33,5.33Z"></path>
                </svg>
                <svg style="margin-left: 2px; margin-top: 2px; margin-right: 2px; margin-bottom: 2px;" class="menu-icon hide-in-menu-icon-hide <% if page_data['show_in_menu'] == true %> hidden <% end %>" xmlns="http://www.w3.org/2000/svg" width="20" height="20" id="Layer_2" data-name="Layer 2" viewBox="0 0 41.5 34.85">
                  <g id="Layer_1-2" data-name="Layer 1">
                    <path d="M41.36,17.2l-.05-.15c-.04-.09-2.38-5.91-7.68-10.21l5.41-5.42-1.42-1.41-5.62,5.63c-2.89-1.94-6.5-3.34-10.92-3.34C6.81,2.3.35,16.86.29,17.01l-.29.88.29.8c.04.1,2.7,6.08,8.34,10.38l-4.35,4.36,1.42,1.41,4.6-4.61c2.92,1.85,6.5,3.17,10.79,3.17,14.26,0,20.17-14.6,20.22-14.75l.19-.81-.14-.65ZM26.47,17.47c0,2.94-2.39,5.33-5.33,5.33-.98,0-1.89-.28-2.68-.75l7.25-7.27c.47.79.76,1.71.76,2.69ZM15.81,17.47c0-2.94,2.39-5.33,5.33-5.33,1.23,0,2.35.43,3.25,1.14l-7.44,7.45c-.71-.9-1.14-2.03-1.14-3.26ZM2.15,17.95l-.03-.1.03-.09c.36-.79,6.33-13.48,18.95-13.48,3.82,0,6.97,1.14,9.52,2.75l-4.79,4.8c-1.27-1.06-2.9-1.7-4.68-1.7-4.04,0-7.33,3.29-7.33,7.33,0,1.79.64,3.42,1.71,4.7l-5.37,5.39c-5.26-3.96-7.98-9.55-8-9.6ZM39.43,17.98h-.01c-.43,1.04-5.91,13.43-18.33,13.43-3.59,0-6.68-1.12-9.26-2.71l5.17-5.19c1.18.81,2.6,1.29,4.14,1.29,4.04,0,7.33-3.29,7.33-7.33,0-1.54-.48-2.97-1.3-4.15l5.1-5.11c4.71,3.72,6.89,8.84,7.16,9.49l.03.14-.03.14Z"/>
                  </g>
                </svg>
                <p class="show-in-menu-text nata-sans text-xs"><% if page_data['show_in_menu'] == true %> Hide <% else %> Show <% end %> In Menu</p>
              </div>
              <div onclick="deleteFromMenu('<%= page_data['id'] %>')" data-menu-item-id="<%= page_data['id'] %>" class="flex gap-2 hover:bg-green-50 p-2.5 py-1.5 items-center">
                <svg id="Layer_1" xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 50 50" width="24" height="24">
                  <path d="M40.73,11.33h-9.71v-2.29c0-1.39-1.13-2.53-2.53-2.53h-7.53c-1.39,0-2.53,1.13-2.53,2.53v2.29h-10.06v2h2.76v24.76c0,2.56,2.08,4.65,4.65,4.65h17.41c2.56,0,4.65-2.08,4.65-4.65V13.33h2.88v-2ZM20.44,9.04c0-.29.24-.53.53-.53h7.53c.29,0,.53.24.53.53v2.29h-8.59v-2.29ZM35.85,38.1c0,1.46-1.19,2.65-2.65,2.65H15.79c-1.46,0-2.65-1.19-2.65-2.65V13.33h22.71v24.76Z"/>
                  <rect x="18.44" y="19.63" width="2" height="13.23"/>
                  <rect x="28.44" y="19.63" width="2" height="13.23"/>
                  <rect x="23.5" y="19.63" width="2" height="13.23"/>
                </svg>
                <p class="nata-sans text-xs">Delete</p>
              </div>
            </div>
          </div>
        </div>
        <% unless page_data['inner_pages'].blank? %>
          <% page_data['inner_pages'].each do |inner_page, inner_page_data| %>
            <div draggable="true" class="draggable-page ml-6 p-2 border rounded flex justify-between items-center hover:border-green-500 hover:bg-green-50">
              <div class="flex gap-2 items-center justify-start">
                <svg class="cursor-pointer" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="#000000" id="Dots-Six-Vertical--Streamline-Phosphor" height="14" width="14">
                  <path d="M5.648 1.336c0 0.9052875 -0.98 1.4710875 -1.764 1.01844375 -0.784 -0.4526375 -0.784 -1.58425 0 -2.0368875C4.062775 0.2143375 4.26556875 0.16 4.472 0.16c0.6494875 0 1.176 0.5265125 1.176 1.176Zm5.88 1.176c0.9052875 0 1.4710875 -0.98 1.01844375 -1.764 -0.4526375 -0.784 -1.58425 -0.784 -2.0368875 0 -0.10321875 0.178775 -0.15755625 0.38156875 -0.15755625 0.588 0 0.6494875 0.5265125 1.176 1.176 1.176ZM4.472 6.824c-0.9052875 0.0000375 -1.4711 0.98006875 -1.01841875 1.76404375 0.452675 0.78398125 1.58428125 0.78393125 2.03689375 -0.0000875 0.10319375 -0.1787625 0.157525 -0.38154375 0.157525 -0.58795625 0 -0.64950625 -0.52649375 -1.17603125 -1.176 -1.176Zm7.056 0c-0.9052875 -0.0000375 -1.47108125 0.97993125 -1.018475 1.76395625 0.4526125 0.78401875 1.58421875 0.78406875 2.03689375 0.0000875 0.10323125 -0.17878125 0.15758125 -0.38159375 0.15758125 -0.58804375 0 -0.64946875 -0.52653125 -1.17596875 -1.176 -1.176ZM4.472 13.488c-0.9052875 0.0000375 -1.4711 0.98006875 -1.01841875 1.76404375 0.452675 0.78398125 1.58428125 0.78393125 2.03689375 -0.0000875 0.10319375 -0.1787625 0.157525 -0.38154375 0.157525 -0.58795625 0 -0.64950625 -0.52649375 -1.17603125 -1.176 -1.176Zm7.056 0c-0.9052875 -0.0000375 -1.47108125 0.97993125 -1.018475 1.76395625 0.4526125 0.78401875 1.58421875 0.78406875 2.03689375 0.0000875 0.10323125 -0.17878125 0.15758125 -0.38159375 0.15758125 -0.58804375 0 -0.64946875 -0.52653125 -1.17596875 -1.176 -1.176Z" stroke-width="0.0625"></path>
                </svg>
                <%= link_to inner_page, '/manage/website/editor/' + page_data['slug'] + '/' + inner_page_data['slug'], class: 'nata-sans text-sm capitalize' %>
              </div>
              <div class="pages-actions-outer relative w-7 h-7 border rounded-full items-center justify-center flex p-1 hover:bg-green-500 hover:border-green-500">
                <svg class="cursor-pointer" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="#000000" id="Dots-Three--Streamline-Phosphor" height="14" width="14">
                  <path d="M9.176 8c0 0.9052875 -0.98 1.4710875 -1.764 1.01844375 -0.784 -0.4526375 -0.784 -1.58425 0 -2.0368875 0.17875625 -0.10320625 0.3815875 -0.15755 0.588 -0.15755625 0.64950625 -0.00003125 1.176 0.52649375 1.176 1.176Zm5.488 -1.176c-0.9052875 -0.0000375 -1.47108125 0.97993125 -1.018475 1.76395625 0.4526125 0.78401875 1.58421875 0.78406875 2.03689375 0.0000875 0.10323125 -0.17878125 0.15758125 -0.38159375 0.15758125 -0.58804375 0 -0.64946875 -0.52653125 -1.17596875 -1.176 -1.176Zm-13.328 0c-0.9052875 -0.0000375 -1.47108125 0.97993125 -1.018475 1.76395625 0.4526125 0.78401875 1.58421875 0.78406875 2.03689375 0.0000875 0.10323125 -0.17878125 0.15758125 -0.38159375 0.15758125 -0.58804375 0 -0.64946875 -0.52653125 -1.17596875 -1.176 -1.176Z" stroke-width="0.0625"></path>
                </svg>
                <div class="page-hover-dropdown hidden">
                  <div class="flex gap-2 hover:bg-green-50 p-2.5 py-2 items-center">
                    <svg class="mx-0.5 " xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18 18" fill="currentColor" id="Gear-Light--Streamline-Phosphor" height="18" width="18">
                      <path d="M8.999142187499999 5.04689765625c-3.04193671875 0 -4.9431515625 3.2930015624999998 -3.4221796875 5.92739296875 1.5209648437499999 2.6343984375 5.323387500000001 2.6343984375 6.844359375 0 0.3468234375 -0.60071484375 0.5294109375 -1.2821484375 0.5294109375 -1.9757953125 -0.002840625 -2.18122734375 -1.7703632812499999 -3.94875703125 -3.951590625 -3.9515976562499997Zm0 6.87234375c-2.24838984375 0.0000984375 -3.6536132812499997 -2.43378984375 -2.52950625 -4.381003125 1.1241070312499999 -1.94721328125 3.93459609375 -1.94733984375 5.0588789062499995 -0.00022500000000000002 0.2563875 0.44403046875 0.39136640624999997 0.9477421874999999 0.39136640624999997 1.46048203125 0 1.61303203125 -1.30770703125 2.9206687500000004 -2.9207390625 2.9207460937499996Zm7.387762500000001 -2.67677578125c0.0051539062500000005 -0.16235859375 0.0051539062500000005 -0.32558203124999996 0 -0.487940625l1.3169109374999999 -1.64592421875c0.1020796875 -0.127771875 0.1374609375 -0.29640234374999996 0.09535078125 -0.4544296875 -0.20603671875 -0.7765171875 -0.51456796875 -1.52213203125 -0.9174515624999999 -2.2171921875000002 -0.08116171875 -0.14307890625 -0.22573828125 -0.23882343749999999 -0.3891515625 -0.257709375l-2.10035390625 -0.2328046875q-0.165796875 -0.1778203125 -0.3436171875 -0.3436171875l-0.2336625 -2.10121171875c-0.0188859375 -0.16341328125000001 -0.11463046875 -0.30798984375 -0.257709375 -0.3891515625 -0.69421640625 -0.4017234375 -1.43861484375 -0.70965 -2.21375390625 -0.9157359374999999 -0.15843515625 -0.0414 -0.32711484375 -0.0050484375 -0.4544296875 0.09793125l-1.6493625 1.32034921875c-0.16235859375 -0.0051539062500000005 -0.32558203124999996 -0.0051539062500000005 -0.487940625 0L7.10924765625 0.293821875c-0.127771875 -0.1020796875 -0.29640234374999996 -0.13746796875 -0.4544296875 -0.0953578125C5.87830078125 0.4045078125 5.1326859375 0.7130390625 4.43762578125 1.11592265625c-0.14307890625 0.08116171875 -0.23882343749999999 0.22573828125 -0.257709375 0.38914453125000004l-0.22936640625000002 2.1003609375q-0.1778203125 0.1666546875 -0.3436171875 0.3436171875l-2.1020765625 0.23881640625c-0.16340624999999998 0.0188859375 -0.30798281250000004 0.11463046875 -0.38914453125000004 0.257709375C0.71398828125 5.139780468750001 0.4060546875 5.8841859375 0.19996875 6.659325000000001c-0.04038046875 0.15642421874999998 -0.0050835937500000004 0.32274140625 0.0953578125 0.44927578125l1.32034921875 1.6493625c-0.0051539062500000005 0.16235859375 -0.0051539062500000005 0.325575 0 0.48793359375L0.29446875 10.892685937500001c-0.1020796875 0.127771875 -0.13746796875 0.29640234374999996 -0.0953578125 0.4544296875 0.20640234375000002 0.77503359375 0.5149265625 1.51917890625 0.9174585937499999 2.21289609375 0.08116171875 0.14307890625 0.22573828125 0.23882343749999999 0.38914453125000004 0.257709375l2.1003609375 0.2328046875q0.1666546875 0.1778203125 0.3436171875 0.3436171875l0.238809375 2.09863828125c0.0188859375 0.16340624999999998 0.1146375 0.30798281250000004 0.25771640625 0.38914453125000004 0.694209375 0.4017234375 1.43861484375 0.70965 2.21375390625 0.9157359374999999 0.15802734375 0.04211015625 0.32665781250000003 0.00672890625 0.4544296875 -0.09535078125l1.6407703125 -1.3160531249999998c0.16235859375 0.0051539062500000005 0.32558203124999996 0.0051539062500000005 0.487940625 0l1.6502203125 1.3212070312500002c0.09148359375 0.0729984375 0.20509453125 0.11268984375 0.32213671875 0.11253515625 0.04464140625 -0.00016171875 0.08909296874999999 -0.005934375 0.13229296875 -0.017184375 0.7750265625 -0.2063953125 1.51917890625 -0.51491953125 2.21289609375 -0.9174515624999999 0.14307890625 -0.08116171875 0.23882343749999999 -0.22573828125 0.257709375 -0.3891515625l0.23279765625 -2.10035390625q0.17782734375 -0.165796875 0.3436171875 -0.3436171875l2.10121875 -0.2336625c0.16340624999999998 -0.0188859375 0.30798984375 -0.11463046875 0.38914453125000004 -0.257709375 0.40187109374999996 -0.6941390624999999 0.70981171875 -1.4385656249999998 0.9157429687499999 -2.21375390625 0.04211015625 -0.15802734375 0.006721875 -0.32665781250000003 -0.0953578125 -0.4544296875Zm-0.2663015625 3.5761921875000002 -2.0307796875 0.225928125c-0.12689296875 0.014624999999999999 -0.24383671875000001 0.075853125 -0.32815546874999996 0.17180859375 -0.16978359375 0.1912640625 -0.35078906249999997 0.37226953125 -0.542053125 0.542053125 -0.09595546875 0.08431875 -0.15717656249999998 0.2012625 -0.17180859375 0.32815546874999996l-0.225928125 2.0299148437500003c-0.47546015625000004 0.25355390625 -0.97503046875 0.45902109375 -1.4912999999999998 0.61335703125l-1.5952359375 -1.2765375c-0.09149062499999999 -0.0729984375 -0.2051015625 -0.1126828125 -0.32214375 -0.11253515625h-0.0309234375c-0.25521328125000003 0.01460390625 -0.51105234375 0.01460390625 -0.766265625 0 -0.1274625 -0.00779765625 -0.25327968749999996 0.03199921875 -0.3530671875 0.11167734375L6.66855703125 16.729875c-0.5157984375 -0.15518671875 -1.01480625 -0.36152578125 -1.48957734375 -0.61593046875l-0.225928125 -2.0290640625000003c-0.014624999999999999 -0.12689296875 -0.075853125 -0.24383671875000001 -0.17180859375 -0.3281484375 -0.1912640625 -0.169790625 -0.37226953125 -0.35079609375 -0.542053125 -0.54206015625 -0.08431875 -0.0959484375 -0.2012625 -0.15717656249999998 -0.32815546874999996 -0.17180859375l-2.0299148437500003 -0.225928125c-0.25329375 -0.47408203125 -0.45875390625 -0.9722109375 -0.61335703125 -1.486996875l1.2765375 -1.59524296875c0.07967109375 -0.09979453125 0.11946796875 -0.22561171875 0.11167031250000001 -0.3530671875 -0.01460390625 -0.25521328125000003 -0.01460390625 -0.51105234375 0 -0.766265625 0.00779765625 -0.1274625 -0.03199921875 -0.25327265625 -0.11167031250000001 -0.3530671875L1.2677625 6.66791015625c0.15518671875 -0.5157984375 0.36151875 -1.01480625 0.61593046875 -1.48957734375l2.0290570312500003 -0.225928125c0.12689999999999999 -0.014624999999999999 0.24383671875000001 -0.075853125 0.32815546874999996 -0.17180859375 0.169790625 -0.1912640625 0.35078906249999997 -0.37226953125 0.542053125 -0.542053125 0.09595546875 -0.08431875 0.15718359375000002 -0.2012625 0.17180859375 -0.32815546874999996l0.225928125 -2.0299148437500003c0.47408906250000005 -0.25329375 0.9722109375 -0.45875390625 1.48700390625 -0.61335703125l1.59524296875 1.2765375c0.09979453125 0.07967109375 0.2256046875 0.11946796875 0.3530671875 0.11167031250000001 0.25521328125000003 -0.01460390625 0.51105234375 -0.01460390625 0.766265625 0 0.12745546875 0.00779765625 0.25327265625 -0.03199921875 0.3530671875 -0.11167031250000001l1.594378125 -1.2765375c0.51580546875 0.15518671875 1.01480625 0.36151875 1.489584375 0.61593046875l0.225928125 2.0307796875c0.014624999999999999 0.12689296875 0.075853125 0.24383671875000001 0.17180859375 0.32815546874999996 0.1912640625 0.16978359375 0.37226953125 0.35078906249999997 0.542053125 0.542053125 0.08431875 0.09595546875 0.2012625 0.15717656249999998 0.32815546874999996 0.17180859375l2.0299148437500003 0.225928125c0.25318828125000004 0.473540625 0.45864843749999995 0.97107890625 0.61335703125 1.4852812499999999L15.453984375 8.262295312500001c-0.079678125 0.09979453125 -0.11946796875 0.22561171875 -0.11167734375 0.3530671875 0.01460390625 0.25521328125000003 0.01460390625 0.51105234375 0 0.766265625 -0.007790625 0.1274625 0.03199921875 0.25327265625 0.11167734375 0.3530671875l1.2765375 1.594378125c-0.15463828125 0.5157421875 -0.36039375 1.01474296875 -0.61421484375 1.489584375Z" stroke-width="0.0703"></path>
                    </svg>
                    <p class="nata-sans text-xs">Settings</p>
                  </div>
                  <div class="flex gap-2 hover:bg-green-50 p-2.5 py-1.5 items-center">
                    <svg id="Layer_1" xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 50 50" width="24" height="24">
                      <path d="M6.04,9.12c0-.13.11-.24.24-.24h29.12c.13,0,.24.11.24.24v4.76h2v-4.76c0-1.23-1-2.24-2.24-2.24H6.27c-1.23,0-2.24,1-2.24,2.24v25.32c0,1.23,1,2.24,2.24,2.24h10.85v-2H6.27c-.13,0-.24-.11-.24-.24v-15.5h12.76v-2H6.04v-7.82Z"/>
                      <rect x="8.65" y="11.74" width="2.25" height="2"/>
                      <rect x="13.64" y="11.74" width="2.34" height="2"/>
                      <path d="M45.67,41.41l-5.9-5.9c2.06-1.99,3.35-4.78,3.35-7.86,0-6.04-4.91-10.95-10.95-10.95s-10.95,4.91-10.95,10.95,4.91,10.95,10.95,10.95c2.23,0,4.3-.67,6.04-1.82l6.05,6.05,1.41-1.41ZM23.22,27.65c0-4.93,4.01-8.95,8.95-8.95s8.95,4.01,8.95,8.95-4.01,8.95-8.95,8.95-8.95-4.01-8.95-8.95Z"/>
                    </svg>
                    <p class="nata-sans text-xs">SEO Basics</p>
                  </div>
                  <div class="flex gap-2 hover:bg-green-50 p-2.5 py-1.5 items-center">
                    <svg id="Layer_1" xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 50 50" width="24" height="24">
                      <path d="M8.32,18.45h21.94v-2H8.32v-7.97h30.47v4.82h2v-4.94c0-1.04-.85-1.89-1.89-1.89H8.21c-1.04,0-1.89.85-1.89,1.89v25.67c0,1.04.85,1.89,1.89,1.89h5.38v-2h-5.27v-15.47Z"/>
                      <rect x="10.72" y="11.35" width="2.12" height="2"/>
                      <rect x="15.68" y="11.35" width="2.25" height="2"/>
                      <path d="M38.74,33.64c-1.57,0-2.95.75-3.86,1.89l-6.38-3.59c.11-.4.18-.81.18-1.25,0-.23-.04-.45-.07-.67l6.25-3.3c.9,1.16,2.3,1.92,3.88,1.92,2.72,0,4.94-2.22,4.94-4.94s-2.22-4.94-4.94-4.94-4.94,2.22-4.94,4.94c0,.43.07.83.17,1.23l-6.04,3.19c-.87-1.41-2.42-2.36-4.19-2.36-2.72,0-4.94,2.22-4.94,4.94s2.22,4.94,4.94,4.94c1.57,0,2.96-.75,3.87-1.9l6.38,3.58c-.11.4-.18.82-.18,1.26,0,2.72,2.22,4.94,4.94,4.94s4.94-2.22,4.94-4.94-2.22-4.94-4.94-4.94ZM38.74,20.76c1.62,0,2.94,1.32,2.94,2.94s-1.32,2.94-2.94,2.94-2.94-1.32-2.94-2.94,1.32-2.94,2.94-2.94ZM23.74,33.64c-1.62,0-2.94-1.32-2.94-2.94s1.32-2.94,2.94-2.94,2.94,1.32,2.94,2.94-1.32,2.94-2.94,2.94ZM38.74,41.53c-1.62,0-2.94-1.32-2.94-2.94s1.32-2.94,2.94-2.94,2.94,1.32,2.94,2.94-1.32,2.94-2.94,2.94Z"/>
                    </svg>
                    <p class="nata-sans text-xs">Social Share</p>
                  </div>
                  <div>
                    <hr>
                  </div>
                  <div class="flex gap-2 hover:bg-green-50 p-2.5 py-1.5 items-center">
                    <svg id="Layer_1" xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 50 50" width="24" height="24">
                      <path d="M39.28,8.17H10.22c-1.17,0-2.12.95-2.12,2.12v29.41c0,1.17.95,2.12,2.12,2.12h29.06c1.17,0,2.12-.95,2.12-2.12V10.29c0-1.17-.95-2.12-2.12-2.12ZM10.1,19.73l9.56-9.56h7.38L10.1,27.11v-7.38ZM10.1,38.41v-8.47L29.87,10.17h8.47l-28.23,28.23ZM10.22,10.17h6.62l-6.73,6.73v-6.62c0-.06.05-.12.12-.12ZM39.28,39.82H11.51l27.88-27.88v27.76c0,.06-.05.12-.12.12Z"/>
                    </svg>
                    <p class="nata-sans text-xs">Page Background</p>
                  </div>
                  <div>
                    <hr>
                  </div>
                  <div onclick="renamePageFromMenu('<%= inner_page_data['id'] %>', '<%= inner_page %>')" class="flex gap-2 hover:bg-green-50 p-2.5 py-1.5 items-center cursor-pointer">
                    <svg id="Layer_1" xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 50 50" width="24" height="24">
                      <path d="M43.67,9.04h-7.17v2h7.03v27.91h-7.03v2h7.17c1.03,0,1.86-.83,1.86-1.86V10.9c0-1.03-.83-1.86-1.86-1.86Z"/>
                      <path d="M4.47,10.9v28.19c0,1.03.83,1.86,1.86,1.86h7.17v-2h-7.03V11.04h7.03v-2h-7.17c-1.03,0-1.86.83-1.86,1.86Z"/>
                      <path d="M32.67,15.77h-15.88c-1.48,0-2.68,1.2-2.68,2.68v4.41h2v-4.41c0-.37.3-.68.68-.68h6.94v15.12h-2.09v2h6.18v-2h-2.09v-15.12h6.94c.37,0,.68.3.68.68v4.41h2v-4.41c0-1.48-1.2-2.68-2.68-2.68Z"/>
                    </svg>
                    <p class="nata-sans text-xs">Rename</p>
                  </div>
                  <div class="flex gap-2 hover:bg-green-50 p-2.5 py-1.5 items-center">
                    <svg id="Layer_1" xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 50 50" width="24" height="24">
                      <path d="M30.96,7.41l-10.17.04c-1.28,0-2.32,1.05-2.32,2.33v4.65h-5.09c-1.14,0-2.06.92-2.06,2.06v22.68c0,1.13.92,2.06,2.06,2.06h16.94c1.13,0,2.06-.92,2.06-2.06v-5.53h5.79c1.28,0,2.33-1.04,2.33-2.33v-14.35l-9.54-9.54ZM31.55,10.82l6.69,6.69h-6.69v-6.69ZM30.33,39.22l-17-.06.06-22.74h5.09v14.88c0,1.28,1.04,2.33,2.33,2.33h9.58l-.05,5.59ZM38.18,31.63h-17.38c-.18,0-.33-.15-.33-.33V9.77c0-.18.15-.33.33-.33l8.75-.03v8.59c0,.83.68,1.51,1.51,1.51h7.45v11.79c0,.18-.15.33-.33.33Z"/>
                    </svg>
                    <p class="nata-sans text-xs">Duplicate</p>
                  </div>
                  <div class="flex gap-2 hover:bg-green-50 p-2.5 py-1.5 items-center">
                    <svg id="Layer_1" xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 50 50" width="24" height="24">
                      <path d="M40.76,6.76h-21.29c-1.33,0-2.41,1.08-2.41,2.41v6.76h-7.82c-1.33,0-2.41,1.08-2.41,2.41v22.47c0,1.33,1.08,2.41,2.41,2.41h21.65c1.33,0,2.41-1.08,2.41-2.41v-7.71h7.47c1.33,0,2.41-1.08,2.41-2.41V9.18c0-1.33-1.08-2.41-2.41-2.41ZM31.29,40.82c0,.23-.18.41-.41.41H9.24c-.23,0-.41-.18-.41-.41v-22.47c0-.23.18-.41.41-.41h7.82v12.76c0,1.33,1.08,2.41,2.41,2.41h11.82v7.71ZM41.18,30.71c0,.23-.18.41-.41.41h-21.29c-.23,0-.41-.18-.41-.41V9.18c0-.23.18-.41.41-.41h21.29c.23,0,.41.19.41.41v21.53Z"/>
                      <rect x="23.82" y="14.15" width="12.53" height="2"/>
                      <rect x="23.82" y="20.85" width="12.53" height="2"/>
                    </svg>
                    <p class="nata-sans text-xs">Copy</p>
                  </div>
                  <div onclick="showInMenu(<%= inner_page_data['id'] %>)" class="flex gap-2 hover:bg-green-50 p-2.5 py-1.5 items-center ">
                    <svg id="Layer_1" xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 50 50"  width="24" height="24">
                      <path d="M45.61,24.35l-.05-.15c-.06-.15-5.94-14.75-20.22-14.75S4.6,24.01,4.54,24.16l-.29.88.29.8c.06.15,6.54,14.72,20.8,14.72s20.17-14.6,20.22-14.75l.19-.81-.14-.65ZM43.67,25.14c-.43,1.03-5.91,13.42-18.33,13.42S6.43,25.18,6.4,25.1l-.03-.1.03-.09c.36-.79,6.33-13.48,18.95-13.48s17.9,12.38,18.33,13.42l.03.14-.03.14Z"/>
                      <path d="M25.39,17.29c-4.04,0-7.33,3.29-7.33,7.33s3.29,7.33,7.33,7.33,7.33-3.29,7.33-7.33-3.29-7.33-7.33-7.33ZM25.39,29.95c-2.94,0-5.33-2.39-5.33-5.33s2.39-5.33,5.33-5.33,5.33,2.39,5.33,5.33-2.39,5.33-5.33,5.33Z"/>
                    </svg>
                    <p class="nata-sans text-xs">Show In Menu</p>
                  </div>
                  <div class="flex gap-2 hover:bg-green-50 p-2.5 py-1.5 items-center">
                    <svg id="Layer_1" xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 50 50" width="24" height="24">
                      <path d="M40.73,11.33h-9.71v-2.29c0-1.39-1.13-2.53-2.53-2.53h-7.53c-1.39,0-2.53,1.13-2.53,2.53v2.29h-10.06v2h2.76v24.76c0,2.56,2.08,4.65,4.65,4.65h17.41c2.56,0,4.65-2.08,4.65-4.65V13.33h2.88v-2ZM20.44,9.04c0-.29.24-.53.53-.53h7.53c.29,0,.53.24.53.53v2.29h-8.59v-2.29ZM35.85,38.1c0,1.46-1.19,2.65-2.65,2.65H15.79c-1.46,0-2.65-1.19-2.65-2.65V13.33h22.71v24.76Z"/>
                      <rect x="18.44" y="19.63" width="2" height="13.23"/>
                      <rect x="28.44" y="19.63" width="2" height="13.23"/>
                      <rect x="23.5" y="19.63" width="2" height="13.23"/>
                    </svg>
                    <p class="nata-sans text-xs">Delete</p>
                  </div>
                </div>
              </div>
            </div>
          <% end %>

        <% end %>
      <% end %>
    </div>
  </div>
  <div class="p-5">
    <div class="flex gap-4">
      <div class="" style="width: 40px;">
        <div onclick="openEditorPopup('Add Page')" class="flex items-center justify-center w-10 h-10 rounded-full bg-green-500">
          <svg id="Layer_1" xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 50 50" width="20" height="20" fill="#ffffff">
            <path d="M7.75,4.88h28.41v21h3V4.17c0-1.26-1.02-2.28-2.28-2.28H7.03c-1.26,0-2.28,1.02-2.28,2.28v39.11c0,1.26,1.02,2.28,2.28,2.28h19.25v-3H7.75V4.88Z"/>
            <polygon points="45.25 39.03 39.16 39.03 39.16 33.21 36.16 33.21 36.16 39.03 30.07 39.03 30.07 42.03 36.16 42.03 36.16 48.12 39.16 48.12 39.16 42.03 45.25 42.03 45.25 39.03"/>
            <rect x="14.6" y="11.29" width="15.47" height="3"/>
            <rect x="14.6" y="20.71" width="15.47" height="3"/>
          </svg>
        </div>
      </div>
      <div style="width: calc(100% - 60px)" class="relative add-page-section">
        <div class="add-page-popup hidden">
          <div class="flex gap-2 hover:bg-green-50 p-2.5 py-2 items-center">
            <svg id="Layer_1" xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 50 50"  width="24" height="24">
              <path d="M16.46,15.04h14.07v10.4h1.49v-10.76c0-.62-.51-1.13-1.13-1.13h-14.78c-.62,0-1.13.51-1.13,1.13v19.37c0,.62.51,1.13,1.13,1.13h9.53v-1.49h-9.18V15.04Z"/>
              <polygon points="35.03 31.95 32.01 31.95 32.01 29.06 30.53 29.06 30.53 31.95 27.51 31.95 27.51 33.43 30.53 33.43 30.53 36.45 32.01 36.45 32.01 33.43 35.03 33.43 35.03 31.95"/>
              <rect x="19.85" y="18.21" width="7.66" height="1.49"/>
              <rect x="19.85" y="22.87" width="7.66" height="1.49"/>
            </svg>
            <p class="nata-sans text-xs">New Page</p>
          </div>
          <div class="flex gap-2 bg-gray-50 p-2.5 py-2 items-center">
            <p class="nata-sans text-xs font-semibold">Menu Items</p>
          </div>
          <div class="flex gap-2 hover:bg-green-50 p-2.5 py-2 items-center">
            <svg id="Layer_1" xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 50 50" width="24" height="24">
              <path d="M37.9,18.53c.16,1.68-.33,3.37-1.37,4.7l-3.67,4.71c-1.08,1.39-2.67,2.29-4.41,2.51h0c-3.71.46-7.06-2.23-7.42-5.95-.07-.74.69-1.29,1.37-.98.32.14.53.45.56.79.25,2.63,2.62,4.53,5.24,4.21,1.24-.15,2.36-.79,3.12-1.77l3.67-4.71c2.2-2.86.48-7.03-3.1-7.51-1.64-.22-3.27.45-4.3,1.75l-1.16,1.49c-.47.58-1.4.43-1.66-.27-.12-.31-.07-.65.13-.92l1.16-1.49c2.25-2.89,6.42-3.41,9.31-1.16,1.44,1.12,2.35,2.79,2.53,4.61ZM23.58,32.23l-1.16,1.49c-.76.99-1.89,1.63-3.13,1.78-3.58.44-6.3-3.16-4.89-6.48.16-.38.37-.73.62-1.05l3.66-4.71c2.21-2.85,6.68-2.25,8.05,1.1.17.43.29.88.33,1.34.07.74.92,1.13,1.53.7.28-.2.44-.54.4-.88-.18-1.81-1.09-3.48-2.53-4.6-2.89-2.25-7.06-1.73-9.31,1.16l-3.66,4.71c-3.14,4.03-.74,9.94,4.32,10.64.57.08,1.15.08,1.73.01,1.75-.21,3.34-1.12,4.42-2.51l1.16-1.49c.41-.63-.01-1.46-.76-1.5-.29-.02-.57.1-.76.3Z"/>
            </svg>
            <p class="nata-sans text-xs">Link</p>
          </div>
          <div class="flex gap-2 hover:bg-green-50 p-2.5 py-2 items-center">
            <svg id="Layer_1" xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 50 50" width="24" height="24">
              <defs>
                <style>
                    .st0 {
                        stroke-width: 2px;
                    }

                    .st0, .st1 {
                        fill: none;
                        stroke: #000;
                        stroke-miterlimit: 10;
                    }

                    .st1 {
                        stroke-width: 3px;
                    }
                </style>
              </defs>
              <circle class="st0" cx="24.98" cy="14.39" r="3.12"/>
              <path class="st0" d="M15.29,26.78s1.53,7.9,9.7,7.9,9.67-7.9,9.67-7.9"/>
              <line class="st0" x1="24.98" y1="17.51" x2="24.98" y2="38.69"/>
              <line class="st1" x1="20.67" y1="21.57" x2="29.23" y2="21.57"/>
            </svg>
            <p class="nata-sans text-xs">Anchor</p>
          </div>
          <div class="flex gap-2 hover:bg-green-50 p-2.5 py-2 items-center">
            <svg id="Layer_1" xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 50 50" width="24" height="24">
              <defs>
                <style>
                    .st0 {
                        fill: none;
                        stroke: #000;
                        stroke-miterlimit: 10;
                        stroke-width: 2px;
                    }
                </style>
              </defs>
              <rect class="st0" x="13.68" y="14.68" width="22.65" height="10.18" rx=".03" ry=".03"/>
              <line class="st0" x1="18.15" y1="30.15" x2="31.74" y2="30.15"/>
              <line class="st0" x1="18.15" y1="35.32" x2="31.74" y2="35.32"/>
            </svg>
            <p class="nata-sans text-xs">Dropdown</p>
          </div>
        </div>
        <button class="add-page-button w-full flex items-center justify-center gap-2 bg-green-500 nata-sans text-sm py-2.5 px-5 text-center w-full rounded text-white">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="#fff" id="Plus--Streamline-Phosphor" height="14" width="14">
            <path d="M15.84 8c0 0.3608125 -0.29251875 0.65331875 -0.65333125 0.65333125H8.65333125v6.5333375c0 0.50293125 -0.54444375 0.81726875 -0.98 0.5658 -0.2021375 -0.11670625 -0.3266625 -0.3323875 -0.3266625 -0.5658V8.65333125H0.81333125c-0.50293125 0 -0.81726875 -0.54444375 -0.5658 -0.98 0.1167125 -0.20215 0.33238125 -0.326675 0.5658 -0.3266625h6.5333375V0.81333125c0 -0.50293125 0.54444375 -0.81726875 0.98 -0.5658 0.2021375 0.11670625 0.3266625 0.3323875 0.3266625 0.5658v6.5333375h6.5333375c0.3608125 0.0000125 0.65333125 0.29251875 0.65333125 0.65333125Z" stroke-width="0.0625"></path>
          </svg>
          <p>Add Menu Item</p>
        </button>
      </div>
    </div>
  </div>
</div>

<style>
    .draggable-page {
        transition: all 0.2s ease;
    }

    .draggable-page:hover {
        cursor: move;
    }

    .drag-over-top {
        border-top: 3px solid #10b981 !important;
    }

    .drag-over-bottom {
        border-bottom: 3px solid #10b981 !important;
    }

    .drag-placeholder {
        animation: pulse 1.5s ease-in-out infinite;
    }

    @keyframes pulse {
        0%, 100% {
            opacity: 1;
        }
        50% {
            opacity: 0.7;
        }
    }
</style>