<% if @page_data["components"].any? %>
  <%
    # Track which CSS and JS we've already included
    included_css = Set.new
    included_js = Set.new
  %>

  <style>
    <% @page_data["components"].each do |component| %>
    <% foundComponent = Component.find(component["component_id"]) %>
    <% component_css = foundComponent.content['css'] %>
    <% if component_css.present? && !included_css.include?(foundComponent.id) %>
    <%= raw(component_css) %>
    <% included_css.add(foundComponent.id) %>
    <% end %>
    <% end %>
  </style>

  <% @page_data["components"].each do |component| %>
    <% foundComponent = Component.find(component["component_id"]) %>
    <section class="relative edit-content-section">
      <% unless foundComponent.editable_fields.blank? %>
        <button onclick="showEditorFieldsSidebar('<%= foundComponent.id %>', '<%= foundComponent.component_type %>', '<%= @page_data['theme_page_id'] %>', '<%= current_user.id %>')" class="edit-content-button absolute top-3 right-3 z-10 nata-sans bg-blue-500 px-4 py-0.5 rounded-full text-white">Edit Content</button>
      <% end %>
      <%= raw(render_editor_content(foundComponent, current_user.id, @page_data['theme_page_id'])) %>
    </section>
  <% end %>

  <script>
      <% @page_data["components"].each do |component| %>
      <% foundComponent = Component.find(component["component_id"]) %>
      <% component_js = foundComponent.content['js'] %>
      <% if component_js.present? && !included_js.include?(foundComponent.id) %>
      <%= raw(component_js) %>
      <% included_js.add(foundComponent.id) %>
      <% end %>
      <% end %>
  </script>
<% else %>
  <p>No components on this page.</p>
<% end %>