<div>
  <h1 class="nata-sans page-title mb-5">Settings</h1>

  <div class="mb-5">
    <h2 class="nata-sans text-lg font-normal mb-2">Finance & Payments</h2>
    <div class="bg-gray-50 rounded-lg">
      <%= link_to manage_settings_payments_accept_payments_path, class: 'flex border-b py-4 px-6 hover:bg-blue-50' do %>
        <div class="w-4/5">
          <h3 class="nata-sans text-base font-semibold">Accept payments</h3>
          <p class="nata-sans text-sm font-normal">Choose the way you get paid by customers.</p>
        </div>
        <div class="w-1/5 flex justify-end items-center">
          <svg style="transform: rotate(270deg)" class="w-6 h-6 ml-1 transform transition-transform duration-200 text-blue-500" id="quick-actions-arrow" fill="none" stroke="currentColor" viewBox="0 0 24 24">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
          </svg>
        </div>
      <% end %>
      <div class="flex border-b py-4 px-6 hover:bg-blue-50">
        <div class="w-4/5">
          <h3 class="nata-sans text-base font-semibold">Getting Paid Settings</h3>
          <p class="nata-sans text-sm font-normal">Manage your settings for invoices, price quotes, pay links, and related automations.</p>
        </div>
        <div class="w-1/5 flex justify-end items-center">
          <svg style="transform: rotate(270deg)" class="w-6 h-6 ml-1 transform transition-transform duration-200 text-blue-500" id="quick-actions-arrow" fill="none" stroke="currentColor" viewBox="0 0 24 24">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
          </svg>
        </div>
      </div>
      <%= link_to manage_settings_payments_invoices_path, class: 'flex border-b py-4 px-6 hover:bg-blue-50' do %>
        <div class="w-4/5">
          <h3 class="nata-sans text-base font-semibold">Invoices</h3>
          <p class="nata-sans text-sm font-normal">Manage when invoices are sent and how they appear to customers.</p>
        </div>
        <div class="w-1/5 flex justify-end items-center">
          <svg style="transform: rotate(270deg)" class="w-6 h-6 ml-1 transform transition-transform duration-200 text-blue-500" id="quick-actions-arrow" fill="none" stroke="currentColor" viewBox="0 0 24 24">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
          </svg>
        </div>
      <% end %>
    </div>
  </div>
  <div class="mb-5">
    <h2 class="nata-sans text-lg font-normal mb-2">Site, domain & SEO</h2>
    <div class="bg-gray-50 rounded-lg">
      <%= link_to manage_settings_website_seo_settings_path, class: 'flex border-b py-4 px-6 hover:bg-blue-50' do %>
        <div class="w-4/5">
          <h3 class="nata-sans text-base font-semibold">SEO Settings</h3>
          <p class="nata-sans text-sm font-normal">Customize your pages and meta tags for SEO and set your site preferences.</p>
        </div>
        <div class="w-1/5 flex justify-end items-center">
          <svg style="transform: rotate(270deg)" class="w-6 h-6 ml-1 transform transition-transform duration-200 text-blue-500" id="quick-actions-arrow" fill="none" stroke="currentColor" viewBox="0 0 24 24">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
          </svg>
        </div>
      <% end %>
      <%= link_to manage_settings_website_website_settings_path, class: 'flex border-b py-4 px-6 hover:bg-blue-50' do %>
        <div class="w-4/5">
          <h3 class="nata-sans text-base font-semibold">Website settings</h3>
          <p class="nata-sans text-sm font-normal">Manage your site’s name, URL, favicon and more.</p>
        </div>
        <div class="w-1/5 flex justify-end items-center">
          <svg style="transform: rotate(270deg)" class="w-6 h-6 ml-1 transform transition-transform duration-200 text-blue-500" id="quick-actions-arrow" fill="none" stroke="currentColor" viewBox="0 0 24 24">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
          </svg>
        </div>
      <% end %>
      <%= link_to manage_settings_website_domains_index_path, class: 'flex border-b py-4 px-6 hover:bg-blue-50' do %>
        <div class="w-4/5">
          <h3 class="nata-sans text-base font-semibold">Domains</h3>
          <p class="nata-sans text-sm font-normal">Connect, manage and edit your website's address.</p>
        </div>
        <div class="w-1/5 flex justify-end items-center">
          <svg style="transform: rotate(270deg)" class="w-6 h-6 ml-1 transform transition-transform duration-200 text-blue-500" id="quick-actions-arrow" fill="none" stroke="currentColor" viewBox="0 0 24 24">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
          </svg>
        </div>
      <% end %>
      <div class="flex border-b py-4 px-6 hover:bg-blue-50">
        <div class="w-4/5">
          <h3 class="nata-sans text-base font-semibold">Manage Plan</h3>
          <p class="nata-sans text-sm font-normal">Compare website plans and upgrade your subscription.</p>
        </div>
        <div class="w-1/5 flex justify-end items-center">
          <svg style="transform: rotate(270deg)" class="w-6 h-6 ml-1 transform transition-transform duration-200 text-blue-500" id="quick-actions-arrow" fill="none" stroke="currentColor" viewBox="0 0 24 24">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
          </svg>
        </div>
      </div>
      <div class="flex border-b py-4 px-6 hover:bg-blue-50">
        <div class="w-4/5">
          <h3 class="nata-sans text-base font-semibold">Business Email</h3>
          <p class="nata-sans text-sm font-normal">Adjust the settings to balance between loading time and overall user experience.</p>
        </div>
        <div class="w-1/5 flex justify-end items-center">
          <svg style="transform: rotate(270deg)" class="w-6 h-6 ml-1 transform transition-transform duration-200 text-blue-500" id="quick-actions-arrow" fill="none" stroke="currentColor" viewBox="0 0 24 24">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
          </svg>
        </div>
      </div>
      <div class="flex border-b py-4 px-6 hover:bg-blue-50">
        <div class="w-4/5">
          <h3 class="nata-sans text-base font-semibold">Site member settings</h3>
          <p class="nata-sans text-sm font-normal">Manage site members’ signup & login security, profile privacy and permissions.</p>
        </div>
        <div class="w-1/5 flex justify-end items-center">
          <svg style="transform: rotate(270deg)" class="w-6 h-6 ml-1 transform transition-transform duration-200 text-blue-500" id="quick-actions-arrow" fill="none" stroke="currentColor" viewBox="0 0 24 24">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
          </svg>
        </div>
      </div>
      <div class="flex border-b py-4 px-6 hover:bg-blue-50">
        <div class="w-4/5">
          <h3 class="nata-sans text-base font-semibold">Privacy & cookies</h3>
          <p class="nata-sans text-sm font-normal">Let visitors manage their privacy, data and cookies on your site.</p>
        </div>
        <div class="w-1/5 flex justify-end items-center">
          <svg style="transform: rotate(270deg)" class="w-6 h-6 ml-1 transform transition-transform duration-200 text-blue-500" id="quick-actions-arrow" fill="none" stroke="currentColor" viewBox="0 0 24 24">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
          </svg>
        </div>
      </div>
      <div class="flex  py-4 px-6 hover:bg-blue-50">
        <div class="w-4/5">
          <h3 class="nata-sans text-base font-semibold">Subscription settings</h3>
          <p class="nata-sans text-sm font-normal">Manage failed payments and notifications for all subscriptions types.</p>
        </div>
        <div class="w-1/5 flex justify-end items-center">
          <svg style="transform: rotate(270deg)" class="w-6 h-6 ml-1 transform transition-transform duration-200 text-blue-500" id="quick-actions-arrow" fill="none" stroke="currentColor" viewBox="0 0 24 24">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
          </svg>
        </div>
      </div>
    </div>
  </div>
  <div class="mb-5">
    <h2 class="nata-sans text-lg font-normal mb-2">General</h2>
    <div class="bg-gray-50 rounded-lg">
      <div class="flex border-b py-4 px-6 hover:bg-blue-50">
        <div class="w-4/5">
          <h3 class="nata-sans text-base font-semibold">Roles & permissions</h3>
          <p class="nata-sans text-sm font-normal">Invite collaborators to work on this site and assign their roles and permissions.</p>
        </div>
        <div class="w-1/5 flex justify-end items-center">
          <svg style="transform: rotate(270deg)" class="w-6 h-6 ml-1 transform transition-transform duration-200 text-blue-500" id="quick-actions-arrow" fill="none" stroke="currentColor" viewBox="0 0 24 24">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
          </svg>
        </div>
      </div>
      <%= link_to manage_settings_general_business_info_path, class: 'flex border-b py-4 px-6 hover:bg-blue-50' do %>
        <div class="w-4/5">
          <h3 class="nata-sans text-base font-semibold">Business info</h3>
          <p class="nata-sans text-sm font-normal">Set your business name, logo, location and contact info.</p>
        </div>
        <div class="w-1/5 flex justify-end items-center">
          <svg style="transform: rotate(270deg)" class="w-6 h-6 ml-1 transform transition-transform duration-200 text-blue-500" id="quick-actions-arrow" fill="none" stroke="currentColor" viewBox="0 0 24 24">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
          </svg>
        </div>
      <% end %>
      <div class="flex border-b py-4 px-6 hover:bg-blue-50">
        <div class="w-4/5">
          <h3 class="nata-sans text-base font-semibold">Mobile App</h3>
          <p class="nata-sans text-sm font-normal">Choose who can join and log in to your app & set your app preferences.</p>
        </div>
        <div class="w-1/5 flex justify-end items-center">
          <svg style="transform: rotate(270deg)" class="w-6 h-6 ml-1 transform transition-transform duration-200 text-blue-500" id="quick-actions-arrow" fill="none" stroke="currentColor" viewBox="0 0 24 24">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
          </svg>
        </div>
      </div>
      <div class="flex border-b py-4 px-6 hover:bg-blue-50">
        <div class="w-4/5">
          <h3 class="nata-sans text-base font-semibold">Language & region</h3>
          <p class="nata-sans text-sm font-normal">Set your language, region & currency, and translate your site.</p>
        </div>
        <div class="w-1/5 flex justify-end items-center">
          <svg style="transform: rotate(270deg)" class="w-6 h-6 ml-1 transform transition-transform duration-200 text-blue-500" id="quick-actions-arrow" fill="none" stroke="currentColor" viewBox="0 0 24 24">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
          </svg>
        </div>
      </div>
      <div class="flex  py-4 px-6 hover:bg-blue-50">
        <div class="w-4/5">
          <h3 class="nata-sans text-base font-semibold">Manage storage</h3>
          <p class="nata-sans text-sm font-normal">Check your storage and free up space, or upgrade your storage plan.</p>
        </div>
        <div class="w-1/5 flex justify-end items-center">
          <svg style="transform: rotate(270deg)" class="w-6 h-6 ml-1 transform transition-transform duration-200 text-blue-500" id="quick-actions-arrow" fill="none" stroke="currentColor" viewBox="0 0 24 24">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
          </svg>
        </div>
      </div>
    </div>
  </div>
  <div class="mb-5">
    <h2 class="nata-sans text-lg font-normal mb-2">Communications & notifications</h2>
    <div class="bg-gray-50 rounded-lg">
      <div class="flex border-b py-4 px-6 hover:bg-blue-50">
        <div class="w-4/5">
          <h3 class="nata-sans text-base font-semibold">Inbox settings</h3>
          <p class="nata-sans text-sm font-normal">Manage how you send and receive Inbox messages.</p>
        </div>
        <div class="w-1/5 flex justify-end items-center">
          <svg style="transform: rotate(270deg)" class="w-6 h-6 ml-1 transform transition-transform duration-200 text-blue-500" id="quick-actions-arrow" fill="none" stroke="currentColor" viewBox="0 0 24 24">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
          </svg>
        </div>
      </div>
      <div class="flex border-b py-4 px-6 hover:bg-blue-50">
        <div class="w-4/5">
          <h3 class="nata-sans text-base font-semibold">Communication channels</h3>
          <p class="nata-sans text-sm font-normal">Set up channels for communicating with customers and leads.</p>
        </div>
        <div class="w-1/5 flex justify-end items-center">
          <svg style="transform: rotate(270deg)" class="w-6 h-6 ml-1 transform transition-transform duration-200 text-blue-500" id="quick-actions-arrow" fill="none" stroke="currentColor" viewBox="0 0 24 24">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
          </svg>
        </div>
      </div>
      <div class="flex border-b py-4 px-6 hover:bg-blue-50">
        <div class="w-4/5">
          <h3 class="nata-sans text-base font-semibold">Notification preferences</h3>
          <p class="nata-sans text-sm font-normal">Choose which notifications you get from Wix.</p>
        </div>
        <div class="w-1/5 flex justify-end items-center">
          <svg style="transform: rotate(270deg)" class="w-6 h-6 ml-1 transform transition-transform duration-200 text-blue-500" id="quick-actions-arrow" fill="none" stroke="currentColor" viewBox="0 0 24 24">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
          </svg>
        </div>
      </div>
      <div class="flex  py-4 px-6 hover:bg-blue-50">
        <div class="w-4/5">
          <h3 class="nata-sans text-base font-semibold">Outgoing notifications</h3>
          <p class="nata-sans text-sm font-normal">Manage & edit automated notifications sent from this site.</p>
        </div>
        <div class="w-1/5 flex justify-end items-center">
          <svg style="transform: rotate(270deg)" class="w-6 h-6 ml-1 transform transition-transform duration-200 text-blue-500" id="quick-actions-arrow" fill="none" stroke="currentColor" viewBox="0 0 24 24">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
          </svg>
        </div>
      </div>
    </div>
  </div>
  <div class="">
    <h2 class="nata-sans text-lg font-normal mb-2">Development & integrations</h2>
    <div class="bg-gray-50 rounded-lg">
      <div class="flex border-b py-4 px-6 hover:bg-blue-50">
        <div class="w-4/5">
          <h3 class="nata-sans text-base font-semibold">Custom Code</h3>
          <p class="nata-sans text-sm font-normal">Add custom code snippets to the head or body of your site.</p>
        </div>
        <div class="w-1/5 flex justify-end items-center">
          <svg style="transform: rotate(270deg)" class="w-6 h-6 ml-1 transform transition-transform duration-200 text-blue-500" id="quick-actions-arrow" fill="none" stroke="currentColor" viewBox="0 0 24 24">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
          </svg>
        </div>
      </div>
      <div class="flex border-b py-4 px-6 hover:bg-blue-50">
        <div class="w-4/5">
          <h3 class="nata-sans text-base font-semibold">Headless settings</h3>
          <p class="nata-sans text-sm font-normal">Use OAuth apps to authenticate with Wix and make API calls from any external platform.</p>
        </div>
        <div class="w-1/5 flex justify-end items-center">
          <svg style="transform: rotate(270deg)" class="w-6 h-6 ml-1 transform transition-transform duration-200 text-blue-500" id="quick-actions-arrow" fill="none" stroke="currentColor" viewBox="0 0 24 24">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
          </svg>
        </div>
      </div>
      <div class="flex  py-4 px-6 hover:bg-blue-50">
        <div class="w-4/5">
          <h3 class="nata-sans text-base font-semibold">Marketing Integrations</h3>
          <p class="nata-sans text-sm font-normal">Connect marketing tools to understand how people interact with your site.</p>
        </div>
        <div class="w-1/5 flex justify-end items-center">
          <svg style="transform: rotate(270deg)" class="w-6 h-6 ml-1 transform transition-transform duration-200 text-blue-500" id="quick-actions-arrow" fill="none" stroke="currentColor" viewBox="0 0 24 24">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
          </svg>
        </div>
      </div>
    </div>
  </div>
</div>