<div>
  <%= render 'manage/settings/settings_header', page_name: "SEO Settings", subpage_name: nil, subpage_path: nil, page_description: nil %>

  <div class="space-y-5">

    <div class="bg-gray-50 rounded-lg">
      <div class="py-4 px-6 border-b">
        <h2 class="nata-sans text-lg font-semibold">Site Name</h2>
        <p class="nata-sans text-sm font-normal">Edit the name to easily find it on your dashboard and more.</p>
      </div>
      <div class="py-4 px-6 grid grid-cols-2 gap-4">
        <%= link_to manage_settings_website_seo_main_page_settings_path, class: 'transition-all duration-200 hover:bg-blue-50 hover:border-blue-300 flex justify-between py-3 px-5 border rounded-md' do %>
          <div class="flex items-center gap-4">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="#000000" id="Book-Open-Text-Light--Streamline-Phosphor" height="20" width="20">
              <path d="M15.4123625 1.3003625h-5.1316375c-0.9238125 0.00068125 -1.78356875 0.47220625 -2.280725 1.2508375 -0.49715625 -0.77863125 -1.3569125 -1.25015 -2.280725 -1.2508375H0.5876375C0.35145 1.30035 0.16 1.4918125 0.16 1.728v10.263275c0 0.236175 0.1914625 0.42763125 0.4276375 0.42763125h5.1316375c1.0234 0.00005 1.8530875 0.82969375 1.8530875 1.85309375 0 0.32919375 0.3563625 0.5349375 0.64145625 0.37034375 0.1323125 -0.0763875 0.21381875 -0.2175625 0.21381875 -0.37034375 0 -1.0234375 0.82965625 -1.85309375 1.8530875 -1.85309375h5.1316375c0.23616875 -0.00000625 0.4276375 -0.1914625 0.4276375 -0.42763125V1.728c0 -0.23616875 -0.19146875 -0.427625 -0.4276375 -0.4276375ZM5.719275 11.5636375h-4.704V2.1556375h4.704c1.02343125 0 1.8530875 0.82965625 1.8530875 1.8530875v8.28973125c-0.5012625 -0.4724875 -1.16424375 -0.7353875 -1.8530875 -0.73481875Zm9.26545 0h-4.704c-0.68893125 -0.00030625 -1.3519 0.26284375 -1.8530875 0.73553125V4.008725c0 -1.02343125 0.82965625 -1.8530875 1.8530875 -1.8530875h4.704Zm-4.704 -7.4123625h2.8509125c0.32919375 0.0000125 0.53494375 0.3563875 0.37033125 0.64146875 -0.0763875 0.13229375 -0.21756875 0.21379375 -0.37033125 0.2138h-2.8509125c-0.32919375 -0.0000125 -0.53494375 -0.3563875 -0.37033125 -0.64146875 0.0763875 -0.13229375 0.21756875 -0.21379375 0.37033125 -0.2138Zm3.27855 2.7083625c0 0.236175 -0.1914625 0.4276375 -0.4276375 0.4276375h-2.8509125c-0.32919375 0 -0.5349375 -0.35636875 -0.37034375 -0.64145625 0.0763875 -0.13230625 0.217575 -0.2138125 0.37034375 -0.21381875h2.8509125c0.23616875 0.0000125 0.4276375 0.19146875 0.4276375 0.4276375Zm0 2.280725c0 0.23616875 -0.19146875 0.427625 -0.4276375 0.4276375h-2.8509125c-0.32919375 -0.0000125 -0.53494375 -0.3563875 -0.37033125 -0.64146875 0.07639375 -0.13230625 0.2175625 -0.21380625 0.37033125 -0.21380625h2.8509125c0.236175 0 0.4276375 0.1914625 0.4276375 0.4276375Z" stroke-width="0.0625"></path>
            </svg>
            <p class="nata-sans">Main Pages</p>
          </div>
          <div class="flex items-center">
            <svg style="transform: rotate(270deg)" class="w-5 h-5 ml-1 transform transition-transform duration-200 text-blue-500" id="quick-actions-arrow" fill="none" stroke="currentColor" viewBox="0 0 24 24">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
            </svg>
          </div>
        <% end %>
        <%= link_to manage_settings_website_seo_blog_posts_settings_path, class: 'transition-all duration-200 hover:bg-blue-50 hover:border-blue-300 flex justify-between py-3 px-5 border rounded-md' do %>
          <div class="flex items-center gap-4">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="#000000" id="Pen-Nib-Light--Streamline-Phosphor" height="20" width="20">
              <path d="M19.7999921875 7.844085937500001c0.000640625 -0.34340625 -0.1358046875 -0.672859375 -0.379046875 -0.9152656250000001l-6.35046875 -6.3495390625c-0.50546875 -0.5055234375 -1.3250546875 -0.5055234375 -1.8305312500000002 0L8.583828125 3.2353984375l-5.4046875000000005 2.027453125c-0.4328828125 0.1620390625 -0.7464999999999999 0.5426093750000001 -0.8228125 0.9984765625L0.207765625 19.152703125c-0.0572421875 0.3386328125 0.20386718750000002 0.6473828125000001 0.5473046874999999 0.64715625 0.0309609375 -0.0001171875 0.061867187500000004 -0.00259375 0.092453125 -0.0073984375000000005l12.891375 -2.1485625c0.45621875 -0.0760078125 0.837203125 -0.3896796875 0.9993984374999999 -0.8228125l2.0265312499999997 -5.4046875000000005 2.6570390625 -2.657046875c0.243078125 -0.24243750000000003 0.3792109375 -0.571953125 0.378125 -0.9152656250000001Zm-6.101765625 8.587781249999999c-0.023140625 0.06171875 -0.07738281250000001 0.1064453125 -0.142375 0.1174140625L2.3720390625000003 18.41309375l4.887890625 -4.8888125c1.57490625 0.9713984375 3.610796875 -0.1263671875 3.66459375 -1.9759765625 0.053796875 -1.849609375 -1.9148359375 -3.0638515625 -3.5435468749999997 -2.185640625 -1.21684375 0.6561328125 -1.6307812499999998 2.200984375 -0.9050312500000001 3.3776328125l-4.8888125 4.889734375L3.4518671875 6.4434531250000004c0.01109375 -0.0644296875 0.055390625 -0.11821093749999999 0.11649218750000001 -0.141453125l5.1828046875 -1.9414687499999999 6.88853125 6.88853125Zm-6.471578125000001 -4.9526015625c0 -0.9963671875000001 1.07859375 -1.61909375 1.9414687499999999 -1.1209140625 0.8628828125 0.4981875 0.8628828125 1.743640625 0 2.2418203125 -0.1967421875 0.11359375 -0.41997656250000004 0.1733984375 -0.64715625 0.17340624999999998 -0.7148515625 0.00003125 -1.2943125 -0.5794609374999999 -1.2943125 -1.2943125Zm11.409382812499999 -3.5038984374999997 -2.3491796875 2.3491796875 -6.6121015625 -6.611171875 2.3501093749999997 -2.3501093749999997c0.0722265625 -0.07230468749999999 0.1894140625 -0.07230468749999999 0.2616328125 0l6.3495390625 6.35046875c0.0723125 0.0722265625 0.0723125 0.18940625 0 0.2616328125Z" stroke-width="0.0781"></path>
            </svg>
            <p class="nata-sans">Blog Posts</p>
          </div>
          <div class="flex items-center">
            <svg style="transform: rotate(270deg)" class="w-5 h-5 ml-1 transform transition-transform duration-200 text-blue-500" id="quick-actions-arrow" fill="none" stroke="currentColor" viewBox="0 0 24 24">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
            </svg>
          </div>
        <% end %>
        <%= link_to manage_settings_website_seo_blog_categories_settings_path, class: 'transition-all duration-200 hover:bg-blue-50 hover:border-blue-300 flex justify-between py-3 px-5 border rounded-md' do %>
          <div class="flex items-center gap-4">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="#000000" id="Pen-Nib-Light--Streamline-Phosphor" height="20" width="20">
              <path d="M19.7999921875 7.844085937500001c0.000640625 -0.34340625 -0.1358046875 -0.672859375 -0.379046875 -0.9152656250000001l-6.35046875 -6.3495390625c-0.50546875 -0.5055234375 -1.3250546875 -0.5055234375 -1.8305312500000002 0L8.583828125 3.2353984375l-5.4046875000000005 2.027453125c-0.4328828125 0.1620390625 -0.7464999999999999 0.5426093750000001 -0.8228125 0.9984765625L0.207765625 19.152703125c-0.0572421875 0.3386328125 0.20386718750000002 0.6473828125000001 0.5473046874999999 0.64715625 0.0309609375 -0.0001171875 0.061867187500000004 -0.00259375 0.092453125 -0.0073984375000000005l12.891375 -2.1485625c0.45621875 -0.0760078125 0.837203125 -0.3896796875 0.9993984374999999 -0.8228125l2.0265312499999997 -5.4046875000000005 2.6570390625 -2.657046875c0.243078125 -0.24243750000000003 0.3792109375 -0.571953125 0.378125 -0.9152656250000001Zm-6.101765625 8.587781249999999c-0.023140625 0.06171875 -0.07738281250000001 0.1064453125 -0.142375 0.1174140625L2.3720390625000003 18.41309375l4.887890625 -4.8888125c1.57490625 0.9713984375 3.610796875 -0.1263671875 3.66459375 -1.9759765625 0.053796875 -1.849609375 -1.9148359375 -3.0638515625 -3.5435468749999997 -2.185640625 -1.21684375 0.6561328125 -1.6307812499999998 2.200984375 -0.9050312500000001 3.3776328125l-4.8888125 4.889734375L3.4518671875 6.4434531250000004c0.01109375 -0.0644296875 0.055390625 -0.11821093749999999 0.11649218750000001 -0.141453125l5.1828046875 -1.9414687499999999 6.88853125 6.88853125Zm-6.471578125000001 -4.9526015625c0 -0.9963671875000001 1.07859375 -1.61909375 1.9414687499999999 -1.1209140625 0.8628828125 0.4981875 0.8628828125 1.743640625 0 2.2418203125 -0.1967421875 0.11359375 -0.41997656250000004 0.1733984375 -0.64715625 0.17340624999999998 -0.7148515625 0.00003125 -1.2943125 -0.5794609374999999 -1.2943125 -1.2943125Zm11.409382812499999 -3.5038984374999997 -2.3491796875 2.3491796875 -6.6121015625 -6.611171875 2.3501093749999997 -2.3501093749999997c0.0722265625 -0.07230468749999999 0.1894140625 -0.07230468749999999 0.2616328125 0l6.3495390625 6.35046875c0.0723125 0.0722265625 0.0723125 0.18940625 0 0.2616328125Z" stroke-width="0.0781"></path>
            </svg>
            <p class="nata-sans">Blog Categories</p>
          </div>
          <div class="flex items-center">
            <svg style="transform: rotate(270deg)" class="w-5 h-5 ml-1 transform transition-transform duration-200 text-blue-500" id="quick-actions-arrow" fill="none" stroke="currentColor" viewBox="0 0 24 24">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
            </svg>
          </div>
        <% end %>
        <%= link_to manage_settings_website_seo_services_settings_path, class: 'transition-all duration-200 hover:bg-blue-50 hover:border-blue-300 flex justify-between py-3 px-5 border rounded-md' do %>
          <div class="flex items-center gap-4">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="#000000" id="Wrench-Light--Streamline-Phosphor" height="20" width="20">
              <path d="M19.3086796875 4.40615625c-0.1510859375 -0.373421875 -0.6288828125 -0.48059375000000004 -0.924984375 -0.20746875l-3.9448828125000004 3.640390625 -1.8739921875 -0.4024609375 -0.4024609375 -1.8739843749999998 3.6403984375 -3.9448828125000004c0.27311718749999997 -0.29610156249999997 0.1659453125 -0.77390625 -0.2074765625 -0.9249921875 -4.79675 -1.9445000000000001 -9.899703125 2.0328203125 -9.1853125 7.1591796875 0.09198437500000001 0.6601171875 0.2816171875 1.3028906249999999 0.5626640625 1.907234375l-5.896671875 5.0907890625c-0.010562499999999999 0.0086484375 -0.020171875 0.01825 -0.030734375 0.0288203125 -1.5694062500000001 1.5686640625000001 -0.8521562500000001 4.248015625 1.2910546875 4.8228203125 0.9946640625000001 0.2667734375 2.05609375 -0.0173671875 2.7844609375 -0.745390625 0.010562499999999999 -0.010562499999999999 0.020171875 -0.0201640625 0.0288125 -0.030734375l5.090796875 -5.896671875c4.6932109375 2.182578125 9.9891796875 -1.5338671875 9.532734375 -6.6896015625 -0.0587734375 -0.6638984375 -0.21593749999999998 -1.3153671875000001 -0.46632812500000004 -1.9330468749999998ZM13.0738984375 12.49859375c-0.94065625 -0.00040625 -1.86590625 -0.23898437500000003 -2.6894687499999996 -0.6935 -0.23870312500000002 -0.1321796875 -0.5373828125 -0.07885937500000001 -0.7155937499999999 0.12775l-5.37703125 6.221328124999999c-0.9610546875000001 0.9207578125 -2.5584609375 0.45585156250000003 -2.8753281250000002 -0.8368203125 -0.14077343750000001 -0.5743125 0.021718750000000002 -1.1807343750000001 0.4307890625 -1.60771875l6.2203671875 -5.373187499999999c0.208265625 -0.17897656250000002 0.261328125 -0.4800390625 0.126796875 -0.7194296875 -2.07490625 -3.7532500000000004 0.6912890625 -8.3451796875 4.9791484375 -8.26546875 0.3934765625 0.0073125 0.7850703125 0.056296875 1.16821875 0.14613281250000001L11.1125078125 4.999765625c-0.126890625 0.1378671875 -0.1788359375 0.3288125 -0.13928125 0.5119609374999999l0.5427031250000001 2.530984375c0.04753906250000001 0.2219140625 0.220890625 0.395265625 0.442796875 0.4428046875l2.5309921875000003 0.5426953125c0.1831484375 0.0395625 0.37409375 -0.0123828125 0.5119609374999999 -0.13927343749999999l3.498234375 -3.2292890625c0.8118749999999999 3.4942109375 -1.8387265624999998 6.8350156250000005 -5.426015625 6.8389453125Z" stroke-width="0.0781"></path>
            </svg>
            <p class="nata-sans">Service Pages</p>
          </div>
          <div class="flex items-center">
            <svg style="transform: rotate(270deg)" class="w-5 h-5 ml-1 transform transition-transform duration-200 text-blue-500" id="quick-actions-arrow" fill="none" stroke="currentColor" viewBox="0 0 24 24">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
            </svg>
          </div>
        <% end %>
        <%= link_to manage_settings_website_seo_service_categories_settings_path, class: 'transition-all duration-200 hover:bg-blue-50 hover:border-blue-300 flex justify-between py-3 px-5 border rounded-md' do %>
          <div class="flex items-center gap-4">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="#000000" id="Wrench-Light--Streamline-Phosphor" height="20" width="20">
               <path d="M19.3086796875 4.40615625c-0.1510859375 -0.373421875 -0.6288828125 -0.48059375000000004 -0.924984375 -0.20746875l-3.9448828125000004 3.640390625 -1.8739921875 -0.4024609375 -0.4024609375 -1.8739843749999998 3.6403984375 -3.9448828125000004c0.27311718749999997 -0.29610156249999997 0.1659453125 -0.77390625 -0.2074765625 -0.9249921875 -4.79675 -1.9445000000000001 -9.899703125 2.0328203125 -9.1853125 7.1591796875 0.09198437500000001 0.6601171875 0.2816171875 1.3028906249999999 0.5626640625 1.907234375l-5.896671875 5.0907890625c-0.010562499999999999 0.0086484375 -0.020171875 0.01825 -0.030734375 0.0288203125 -1.5694062500000001 1.5686640625000001 -0.8521562500000001 4.248015625 1.2910546875 4.8228203125 0.9946640625000001 0.2667734375 2.05609375 -0.0173671875 2.7844609375 -0.745390625 0.010562499999999999 -0.010562499999999999 0.020171875 -0.0201640625 0.0288125 -0.030734375l5.090796875 -5.896671875c4.6932109375 2.182578125 9.9891796875 -1.5338671875 9.532734375 -6.6896015625 -0.0587734375 -0.6638984375 -0.21593749999999998 -1.3153671875000001 -0.46632812500000004 -1.9330468749999998ZM13.0738984375 12.49859375c-0.94065625 -0.00040625 -1.86590625 -0.23898437500000003 -2.6894687499999996 -0.6935 -0.23870312500000002 -0.1321796875 -0.5373828125 -0.07885937500000001 -0.7155937499999999 0.12775l-5.37703125 6.221328124999999c-0.9610546875000001 0.9207578125 -2.5584609375 0.45585156250000003 -2.8753281250000002 -0.8368203125 -0.14077343750000001 -0.5743125 0.021718750000000002 -1.1807343750000001 0.4307890625 -1.60771875l6.2203671875 -5.373187499999999c0.208265625 -0.17897656250000002 0.261328125 -0.4800390625 0.126796875 -0.7194296875 -2.07490625 -3.7532500000000004 0.6912890625 -8.3451796875 4.9791484375 -8.26546875 0.3934765625 0.0073125 0.7850703125 0.056296875 1.16821875 0.14613281250000001L11.1125078125 4.999765625c-0.126890625 0.1378671875 -0.1788359375 0.3288125 -0.13928125 0.5119609374999999l0.5427031250000001 2.530984375c0.04753906250000001 0.2219140625 0.220890625 0.395265625 0.442796875 0.4428046875l2.5309921875000003 0.5426953125c0.1831484375 0.0395625 0.37409375 -0.0123828125 0.5119609374999999 -0.13927343749999999l3.498234375 -3.2292890625c0.8118749999999999 3.4942109375 -1.8387265624999998 6.8350156250000005 -5.426015625 6.8389453125Z" stroke-width="0.0781"></path>
            </svg>
            <p class="nata-sans">Service Categories</p>
          </div>
          <div class="flex items-center">
            <svg style="transform: rotate(270deg)" class="w-5 h-5 ml-1 transform transition-transform duration-200 text-blue-500" id="quick-actions-arrow" fill="none" stroke="currentColor" viewBox="0 0 24 24">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
            </svg>
          </div>
        <% end %>
        <% if current_user.is_ecommerce == true %>
          <%= link_to manage_settings_website_seo_products_settings_path, class: 'transition-all duration-200 hover:bg-blue-50 hover:border-blue-300 flex justify-between py-3 px-5 border rounded-md' do %>
            <div class="flex items-center gap-4">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" id="Shopping-Cart--Streamline-Phosphor" height="20" width="20">
                <path d="M15.70323125 3.27169375c-0.11035 -0.13205 -0.27358125 -0.20835 -0.44566875 -0.20831875H3.54825625l-0.4413125 -2.42649375c-0.0501625 -0.2761125 -0.2906125 -0.4768375 -0.5712375 -0.47688125H0.74069375C0.2936875 0.1604625 0.0148125 0.64465 0.23871875 1.03153125c0.10369375 0.17918125 0.29495 0.2896 0.501975 0.28981875h1.30651875l1.85525625 10.18285625c0.05465 0.30199375 0.18810625 0.5841875 0.386875 0.818025 -1.14335625 1.06791875 -0.70189375 2.97308125 0.794625 3.42929375 1.49651875 0.4562125 2.92570625 -0.87868125 2.57254375 -2.4028125 -0.03308125 -0.1427625 -0.08150625 -0.281525 -0.144425 -0.41386875h3.29678125c-0.1299125 0.2719625 -0.19713125 0.56961875 -0.19670625 0.8710125 0 1.5645125 1.6936375 2.5423375 3.04854375 1.760075 1.35490625 -0.78225625 1.35490625 -2.73789375 0 -3.52015 -0.30893125 -0.1783625 -0.65945625 -0.27226875 -1.01618125 -0.2722875H5.61618125c-0.28063125 -0.0000375 -0.521075 -0.20076875 -0.5712375 -0.476875l-0.23009375 -1.26515h8.4197875c0.8418875 -0.000125 1.563225 -0.60230625 1.7137125 -1.4306375l0.882625 -4.8529875c0.03025 -0.1698125 -0.01655625 -0.3442875 -0.12774375 -0.47615ZM6.5474375 13.80585625c0 0.67050625 -0.72584375 1.089575 -1.30651875 0.75431875 -0.580675 -0.33525 -0.580675 -1.17338125 0 -1.5086375 0.1324125 -0.07644375 0.2826125 -0.11669375 0.43550625 -0.11669375 0.48105 0 0.8710125 0.38996875 0.8710125 0.8710125Zm6.9681 0c0 0.67050625 -0.72584375 1.089575 -1.30651875 0.75431875 -0.580675 -0.33525 -0.580675 -1.17338125 0 -1.5086375 0.1324125 -0.07644375 0.2826125 -0.11669375 0.43550625 -0.11669375 0.48105 0 0.8710125 0.38996875 0.8710125 0.8710125Zm0.2903375 -5.4126125c-0.05030625 0.27691875 -0.2919625 0.47789375 -0.57341875 0.47688125H4.60363125L3.759475 4.224725h10.80200625Z" stroke-width="0.0625"></path>
              </svg>
              <p class="nata-sans">Product Pages</p>
            </div>
            <div class="flex items-center">
              <svg style="transform: rotate(270deg)" class="w-5 h-5 ml-1 transform transition-transform duration-200 text-blue-500" id="quick-actions-arrow" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
              </svg>
            </div>
          <% end %>
          <%= link_to manage_settings_website_seo_product_categories_settings_path, class: 'transition-all duration-200 hover:bg-blue-50 hover:border-blue-300 flex justify-between py-3 px-5 border rounded-md' do %>
            <div class="flex items-center gap-4">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" id="Shopping-Cart--Streamline-Phosphor" height="20" width="20">
                <path d="M15.70323125 3.27169375c-0.11035 -0.13205 -0.27358125 -0.20835 -0.44566875 -0.20831875H3.54825625l-0.4413125 -2.42649375c-0.0501625 -0.2761125 -0.2906125 -0.4768375 -0.5712375 -0.47688125H0.74069375C0.2936875 0.1604625 0.0148125 0.64465 0.23871875 1.03153125c0.10369375 0.17918125 0.29495 0.2896 0.501975 0.28981875h1.30651875l1.85525625 10.18285625c0.05465 0.30199375 0.18810625 0.5841875 0.386875 0.818025 -1.14335625 1.06791875 -0.70189375 2.97308125 0.794625 3.42929375 1.49651875 0.4562125 2.92570625 -0.87868125 2.57254375 -2.4028125 -0.03308125 -0.1427625 -0.08150625 -0.281525 -0.144425 -0.41386875h3.29678125c-0.1299125 0.2719625 -0.19713125 0.56961875 -0.19670625 0.8710125 0 1.5645125 1.6936375 2.5423375 3.04854375 1.760075 1.35490625 -0.78225625 1.35490625 -2.73789375 0 -3.52015 -0.30893125 -0.1783625 -0.65945625 -0.27226875 -1.01618125 -0.2722875H5.61618125c-0.28063125 -0.0000375 -0.521075 -0.20076875 -0.5712375 -0.476875l-0.23009375 -1.26515h8.4197875c0.8418875 -0.000125 1.563225 -0.60230625 1.7137125 -1.4306375l0.882625 -4.8529875c0.03025 -0.1698125 -0.01655625 -0.3442875 -0.12774375 -0.47615ZM6.5474375 13.80585625c0 0.67050625 -0.72584375 1.089575 -1.30651875 0.75431875 -0.580675 -0.33525 -0.580675 -1.17338125 0 -1.5086375 0.1324125 -0.07644375 0.2826125 -0.11669375 0.43550625 -0.11669375 0.48105 0 0.8710125 0.38996875 0.8710125 0.8710125Zm6.9681 0c0 0.67050625 -0.72584375 1.089575 -1.30651875 0.75431875 -0.580675 -0.33525 -0.580675 -1.17338125 0 -1.5086375 0.1324125 -0.07644375 0.2826125 -0.11669375 0.43550625 -0.11669375 0.48105 0 0.8710125 0.38996875 0.8710125 0.8710125Zm0.2903375 -5.4126125c-0.05030625 0.27691875 -0.2919625 0.47789375 -0.57341875 0.47688125H4.60363125L3.759475 4.224725h10.80200625Z" stroke-width="0.0625"></path>
              </svg>
              <p class="nata-sans">Product Categories</p>
            </div>
            <div class="flex items-center">
              <svg style="transform: rotate(270deg)" class="w-5 h-5 ml-1 transform transition-transform duration-200 text-blue-500" id="quick-actions-arrow" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
              </svg>
            </div>
          <% end %>
      <% end %>
      </div>
    </div>

    <div class="bg-gray-50 rounded-lg">
      <div class="py-4 px-6 border-b">
        <h2 class="nata-sans text-lg font-semibold">Set Site Preferences</h2>
      </div>
      <div class="py-4 px-6 border-b">
        <div class="w-8/10">
          <h2 class="nata-sans text-base font-semibold">Let search engines index you site</h2>
          <p class="nata-sans text-sm font-normal">Keep this feature on for your site to appear in search results. <span class="text-blue-500">Why is this important?</span> </p>
        </div>
        <div class="w-2/10">

        </div>
      </div>
      <div class="py-4 px-6 flex">
        <div class="w-9/10">
          <h2 class="nata-sans text-base font-semibold">Site Name</h2>
          <p class="nata-sans text-sm font-normal">Choose the default image you want to display when your site is shared on social networks like Facebook, Pinterest and X. <span class="text-blue-500">What is an og:image?</span> </p>
        </div>
        <div class="w-1/10">
          <div class="bg-blue-50 p-2">
            <div class="border border-dashed border-blue-300 h-15 flex items-center justify-center">
              <svg class="fill-blue-300" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" id="Plus--Streamline-Phosphor" height="30" width="30">
                <path d="M15.84 8c0 0.3608125 -0.29251875 0.65331875 -0.65333125 0.65333125H8.65333125v6.5333375c0 0.50293125 -0.54444375 0.81726875 -0.98 0.5658 -0.2021375 -0.11670625 -0.3266625 -0.3323875 -0.3266625 -0.5658V8.65333125H0.81333125c-0.50293125 0 -0.81726875 -0.54444375 -0.5658 -0.98 0.1167125 -0.20215 0.33238125 -0.326675 0.5658 -0.3266625h6.5333375V0.81333125c0 -0.50293125 0.54444375 -0.81726875 0.98 -0.5658 0.2021375 0.11670625 0.3266625 0.3323875 0.3266625 0.5658v6.5333375h6.5333375c0.3608125 0.0000125 0.65333125 0.29251875 0.65333125 0.65333125Z" stroke-width="0.0625"></path>
              </svg>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>
</div>