<!DOCTYPE html>
<html>
<head>
  <title><%= content_for(:title) || "Manage Website - Website Builder" %></title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="mobile-web-app-capable" content="yes">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= yield :head %>

  <link rel="icon" href="/icon.png" type="image/png">
  <link rel="icon" href="/icon.svg" type="image/svg+xml">
  <link rel="apple-touch-icon" href="/icon.png">

  <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.19/tailwind.min.js"></script>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.19/tailwind.min.css" rel="stylesheet">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Nata+Sans:wght@100..900&display=swap" rel="stylesheet">
</head>

<body class="bg-black-gray">
<!-- Manage Navigation -->
<nav class="bg-black-gray px-6 py-3 flex gap-5">
  <div class="w-auto">
    <h1 class="text-white text-3xl">SinglePoint</h1>
  </div>
  <div class="flex gap-5" style="width: 31%">
    <div class="flex items-center gap-2">
      <a href="" class="text-white">My Website</a>
      <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12" fill="none">
        <path d="M11.7233 3.70549L6.37816 9.05067C6.16937 9.2597 5.83061 9.2597 5.62182 9.05067L0.276632 3.70549C-0.0144847 3.41438 0.118711 2.91728 0.516384 2.81073C0.700945 2.76128 0.897871 2.81404 1.03298 2.94915L5.99999 7.91683L10.967 2.94915C11.2581 2.65803 11.7552 2.79123 11.8618 3.1889C11.9112 3.37346 11.8585 3.57038 11.7233 3.70549Z" fill="white"/>
      </svg>
    </div>
    <div class="flex items-center gap-2">
      <a href="" class="text-white">Explore</a>
      <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12" fill="none">
        <path d="M11.7233 3.70549L6.37816 9.05067C6.16937 9.2597 5.83061 9.2597 5.62182 9.05067L0.276632 3.70549C-0.0144847 3.41438 0.118711 2.91728 0.516384 2.81073C0.700945 2.76128 0.897871 2.81404 1.03298 2.94915L5.99999 7.91683L10.967 2.94915C11.2581 2.65803 11.7552 2.79123 11.8618 3.1889C11.9112 3.37346 11.8585 3.57038 11.7233 3.70549Z" fill="white"/>
      </svg>
    </div>
    <div class="flex items-center gap-2">
      <a href="" class="text-white">Hire A Professional</a>
    </div>
    <div class="flex items-center gap-2">
      <a href="" class="text-white">Help</a>
      <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12" fill="none">
        <path d="M11.7233 3.70549L6.37816 9.05067C6.16937 9.2597 5.83061 9.2597 5.62182 9.05067L0.276632 3.70549C-0.0144847 3.41438 0.118711 2.91728 0.516384 2.81073C0.700945 2.76128 0.897871 2.81404 1.03298 2.94915L5.99999 7.91683L10.967 2.94915C11.2581 2.65803 11.7552 2.79123 11.8618 3.1889C11.9112 3.37346 11.8585 3.57038 11.7233 3.70549Z" fill="white"/>
      </svg>
    </div>
  </div>
  <div style="width: 34%;" class="min-h-full flex flex-items">
    <form action="/action_page.php" class="flex flex-items w-full">
      <input class="w-full" type="text" id="fname" name="fname" style="background: #303030; border: 1px solid #484848; border-radius: 10px">
    </form>
  </div>
  <div class="flex gap-5 items-center w-auto relative">
    <div>
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
        <path d="M21.9508 1.14465H2.04926C1.05008 1.1447 0.240022 1.9547 0.240022 2.95388V21.0462C0.23585 21.7505 0.644647 22.392 1.28486 22.6858C1.52437 22.797 1.78518 22.8549 2.04926 22.8554C2.47397 22.8544 2.88461 22.7029 3.20829 22.428L3.21847 22.42L6.91155 19.2369H21.9508C22.95 19.2369 23.76 18.4269 23.76 17.4277V2.95388C23.76 1.95467 22.95 1.14465 21.9508 1.14465ZM21.9508 17.4277H6.57233C6.35512 17.4278 6.14519 17.5061 5.98093 17.6482L2.04926 21.0462V2.95388H21.9508V17.4277ZM7.47694 8.38156C7.47694 7.88196 7.88195 7.47695 8.38155 7.47695H15.6185C16.3148 7.47698 16.7501 8.23085 16.4019 8.83391C16.2403 9.11378 15.9416 9.28618 15.6185 9.28618H8.38155C7.88195 9.28618 7.47694 8.88117 7.47694 8.38156ZM7.47694 12C7.47694 11.5004 7.88195 11.0954 8.38155 11.0954H15.6185C16.3148 11.0954 16.7501 11.8493 16.4019 12.4523C16.2403 12.7322 15.9417 12.9047 15.6185 12.9046H8.38155C7.88193 12.9047 7.47694 12.4996 7.47694 12Z" fill="white"/>
      </svg>
    </div>
    <div class="notification-top">
      <div class="relative notification-icon cursor-pointer">
        <p class="bg-blue-500 w-5 h-5 rounded-full text-sm flex items-center justify-center text-white nata-sans absolute" style="top: -10px; right: -10px"><%= current_user.unread_notifications_count %></p>
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
          <path d="M22.4494 6.23899C22.0225 6.46006 21.4972 6.29341 21.2759 5.86667C20.4446 4.2244 19.1863 2.83636 17.6332 1.8484C17.0658 1.49055 17.0986 0.652706 17.6922 0.340275C17.9677 0.195281 18.2996 0.208265 18.5629 0.374344C20.3729 1.53327 21.8427 3.15215 22.8218 5.06541C23.0428 5.49232 22.8762 6.01761 22.4494 6.23899ZM1.95095 6.33697C2.27621 6.33683 2.57429 6.15547 2.7239 5.86667C3.55521 4.2244 4.81352 2.83636 6.36659 1.8484C6.93394 1.49055 6.90117 0.652706 6.30758 0.340275C6.0321 0.195281 5.70018 0.208265 5.43686 0.374344C3.62685 1.53327 2.15713 3.15215 1.178 5.06541C0.877742 5.645 1.29821 6.33669 1.95095 6.33697ZM22.211 17.6526C22.8865 18.8109 22.0548 20.2661 20.7139 20.2719C20.7118 20.2719 20.7097 20.2719 20.7076 20.2719H16.2658C15.5987 23.5571 11.6255 24.8882 9.114 22.6679C8.4047 22.0408 7.91908 21.1997 7.73068 20.2719H3.28893C1.94804 20.2692 1.11285 18.816 1.78559 17.6561C1.78627 17.6549 1.78697 17.6538 1.78766 17.6526C2.76855 15.9597 3.28893 13.5526 3.28893 10.6916C3.28893 3.98719 10.5467 -0.203091 16.3529 3.14914C19.0476 4.70491 20.7076 7.58009 20.7076 10.6916C20.7076 13.5516 21.228 15.9586 22.211 17.6526ZM14.4608 20.2719H9.5357C10.2079 22.1676 12.6802 22.6247 13.9858 21.0947C14.1931 20.8518 14.3541 20.5729 14.4608 20.2719ZM20.7076 18.53C19.5492 16.541 18.9657 13.9043 18.9657 10.6916C18.9657 5.32807 13.1595 1.97586 8.51452 4.65763C6.35878 5.90225 5.03079 8.20239 5.03079 10.6916C5.03079 13.9054 4.44509 16.5421 3.28893 18.53H20.7076Z" fill="white"/>
        </svg>
      </div>

      <div class="notification-section z-10 absolute top-13 left-1.5 px-1 bg-black-gray w-300 hidden">
        <% notifications = Notification.where(user_id: current_user.id, read: false) %>
        <% if notifications.count == 0 %>
          <div class="p-2 py-6 pt-4 flex flex-col gap-4 items-center">
            <p class="nata-sans text-white text-sm text-center">No new notifications to show. You can view all your notifications with the button below</p>
            <%= link_to 'View all Notifications', admin_notifications_path, class: 'nata-sans bg-blue-500 px-4 py-0.5 rounded-full text-white' %>
          </div>
        <% else %>
          <% notifications.last(5).each do |notification| %>
            <div class="border-b px-2 py-2">
              <%= link_to notification.notification_type.truncate(40), admin_notification_path(notification), class: 'nata-sans text-white text-sm font-semibold hover:text-blue-500'%>
              <p class="nata-sans text-white text-xs font-base"><%= notification.message.truncate(80) %></p>
            </div>
          <% end %>
        <% end %>

      </div>

    </div>
    <div>
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
        <path d="M21.9508 1.59717H2.04922C1.04998 1.59712 0.23999 2.40716 0.23999 3.4064V21.4987C0.240346 22.1711 0.948112 22.6081 1.54942 22.3072L4.76307 20.7004L7.97671 22.3072C8.23153 22.4347 8.53153 22.4347 8.78634 22.3072L12 20.7004L15.2136 22.3072C15.4684 22.4347 15.7685 22.4347 16.0233 22.3072L19.2369 20.7004L22.4506 22.3072C23.0519 22.6081 23.7596 22.1711 23.76 21.4987V3.4064C23.76 2.40719 22.95 1.59717 21.9508 1.59717ZM21.9508 20.0355L19.6417 18.8799C19.3869 18.7523 19.0869 18.7523 18.8321 18.8799L15.6184 20.4878L12.4048 18.8799C12.15 18.7523 11.85 18.7523 11.5952 18.8799L8.38153 20.4878L5.16788 18.8799C4.91307 18.7523 4.61307 18.7523 4.35825 18.8799L2.04922 20.0355V3.4064H21.9508V20.0355ZM12.9046 9.73871C12.9046 9.23911 13.3096 8.8341 13.8092 8.8341H19.2369C19.9333 8.8341 20.3685 9.58794 20.0203 10.191C19.8587 10.4709 19.5601 10.6433 19.2369 10.6433H13.8092C13.3096 10.6434 12.9046 10.2383 12.9046 9.73871ZM12.9046 13.3572C12.9046 12.8575 13.3096 12.4525 13.8092 12.4526H19.2369C19.9333 12.4526 20.3685 13.2064 20.0203 13.8095C19.8587 14.0894 19.5601 14.2618 19.2369 14.2618H13.8092C13.3096 14.2618 12.9046 13.8568 12.9046 13.3572ZM4.76306 16.071H10.1908C10.6903 16.071 11.0954 15.666 11.0954 15.1664V7.92947C11.0954 7.42989 10.6903 7.02488 10.1908 7.02486H4.76307C4.26345 7.02484 3.85845 7.42985 3.85845 7.92947V15.1664C3.85845 15.666 4.26344 16.071 4.76306 16.071ZM5.66768 8.8341H9.28614V14.2618H5.66768V8.8341Z" fill="white"/>
      </svg>
    </div>
  </div>
  <div class="w-auto">
    <div class="flex gap-3">
      <div class="bg-blue-500 w-10 h-10 flex items-center justify-center rounded-lg">
        <h1 class="text-white text-1xl uppercase"><%= current_user.get_name_from_email.first(2) %></h1>
      </div>
      <div class="flex items-center">
        <p class="text-white capitalize"> <%= current_user.get_name_from_email.truncate(13) %></p>
      </div>
    </div>
  </div>
</nav>

<!-- Main Content -->
<main class="bg-gray-50" style="border-radius: 20px 20px 0px 0px; min-height: calc(100vh - 64px)">
  <!-- Flash Messages -->
  <% if notice.present? %>
    <div class="mb-4 px-4 py-3 bg-green-100 border border-green-400 text-green-700 rounded">
      <%= notice %>
    </div>
  <% end %>

  <% if alert.present? %>
    <div class="mb-4 px-4 py-3 bg-red-100 border border-red-400 text-red-700 rounded">
      <%= alert %>
    </div>
  <% end %>

  <!-- Page Content -->
  <div class="flex">
    <div class="w-2/10 bg-gray-50" style="border-radius: 20px 0px 0px 0px; width: 17.5%; min-height: calc(100vh - 64px); overflow: hidden">
      <nav class="flex flex-col justify-between" style="min-height: calc(100vh - 64px); max-height: calc(100vh - 64px); overflow: scroll">

        <div>
          <div class="flex py-3 px-5 border-b">
            <div class=" flex items-center">
              <div class="border p-1" style="border-radius: 100px; width: fit-content; border-color: #1A1A1A">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18 18" fill="#1A1A1A" id="Star-Light--Streamline-Phosphor" height="14" width="14">
                  <path d="M17.761682812500002 6.90389296875c-0.1406109375 -0.44471953125 -0.53857265625 -0.75845390625 -1.0038375 -0.7913601562499999l-4.83074296875 -0.39046640625 -1.8617414062500002 -4.50601875c-0.33733828125 -0.8202796875 -1.43615390625 -0.9677671875 -1.9778625 -0.26547890625 -0.062690625 0.08126718749999999 -0.11423671875000001 0.17055 -0.15327421875 0.26547890625L6.0724828125 5.72046328125l-4.83074296875 0.39206953125c-0.4656796875 0.033145312499999996 -0.8637679687500001 0.34761093750000005 -1.00383046875 0.7929632812499999 -0.1458984375 0.44384765625 -0.01052578125 0.9318867187500001 0.34316015624999996 1.23715546875l3.68820703125 3.1758609375 -1.122496875 4.750565624999999c-0.10771875 0.45464765625 0.06920859374999999 0.9294046874999999 0.44819296875 1.2026742187500001 0.37461796875 0.2775375 0.881184375 0.29664140624999996 1.2756375 0.0481078125l4.1291859375 -2.53845 4.1355984375 2.5424578125c0.394453125 0.24853359375 0.90101953125 0.22942968749999998 1.27563046875 -0.0481078125 0.37899140625000005 -0.27326953125 0.55591875 -0.7480265625 0.4482 -1.2026742187500001l-1.122496875 -4.750565624999999 3.6817875 -3.1798687500000002c0.354346875 -0.30555 0.48977578125 -0.79443984375 0.3431671875 -1.2387585937499999Zm-0.9733640625000001 0.5107359375 -3.9038835937500003 3.367490625c-0.1357734375 0.1171546875 -0.19511015625 0.30011484374999997 -0.1539421875 0.47465859375l1.1930484375000001 5.034396093750001c0.02142421875 0.07791328125000001 -0.00921796875 0.1608046875 -0.07616953124999999 0.2060578125 -0.060651562500000006 0.04689140625 -0.14438671875 0.05011171875 -0.2084625 0.008015625l-4.38735234375 -2.6955984375c-0.15444140625 -0.09484453125 -0.34908046875 -0.09484453125 -0.503521875 0l-4.387359375 2.694796875c-0.06407578125 0.04209609375 -0.1478109375 0.03887578125 -0.2084625 -0.008015625 -0.06845625 -0.0441421875 -0.1008 -0.127265625 -0.08017734375 -0.20606484375l1.19305546875 -5.034396093750001c0.04116796875 -0.17454375 -0.01816875 -0.357496875 -0.1539421875 -0.4746515625L1.2072656250000002 7.41382734375c-0.06278203125000001 -0.05112421875 -0.08628046875 -0.13641328125 -0.058528125 -0.21247031249999998 0.02143828125 -0.07498828125 0.0880875 -0.12811640625 0.16596562499999998 -0.13229296875l5.125000781250001 -0.41372578125000004c0.18005625 -0.01461796875 0.336740625 -0.1288828125 0.40570312499999994 -0.29585390625l1.97478984375 -4.77862734375c0.05260078125 -0.13516875 0.23180625000000002 -0.162703125 0.322565625 -0.04956328125 0.01200234375 0.014969531250000001 0.02165625 0.0316828125 0.0286171875 0.04956328125l1.97478984375 4.77862734375c0.06895546875 0.16697109375 0.225646875 0.2812359375 0.40570312499999994 0.29585390625l5.12499375 0.41372578125000004c0.07788515624999999 0.0041765625 0.144534375 0.05730468749999999 0.16597265625000002 0.13229296875 0.02904609375 0.07545234375 0.007171874999999999 0.161015625 -0.0545203125 0.213271875Z" stroke-width="0.0703"></path>
                </svg>
              </div>
            </div>
            <div class="ml-2 text-white bg-black-gray h-6 flex items-center justify-center" style="border-radius: 100px; width: -webkit-fill-available;">
              <p class="sidebar-navigation nata-sans">Quick Actions</p>
              <svg class="w-3 h-3 ml-1 transform transition-transform duration-200" id="quick-actions-arrow" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
              </svg>
            </div>
          </div>

          <div class="py-3 px-5 border-b hover:bg-gray-100 hover:shadow-sm transition-all duration-200 group">
            <div class="pb-2">
              <p class="sidebar-navigation nata-sans font-bold">Let's Set Up Your Business</p>
            </div>
            <div class="relative pb-2">
              <div class="setup-bar w-full h-2 rounded"></div>
              <div class="setup-bar-colour h-2 bg-blue-500 rounded absolute top-0" style="width: <%= current_user.user_setup.steps_percentage %>%"></div>
            </div>
            <div>
              <p class="sidebar-navigation nata-sans text-xs"><%= current_user.user_setup.steps_completed %>/7 completed</p>
            </div>
          </div>

          <!-- Navigation Items -->
          <ul class="">

            <!-- Setup without Dropdown -->
            <li>
              <%= link_to manage_setup_path, class: 'w-full flex items-center px-4 py-3 text-gray-700 hover:bg-gray-100 hover:shadow-sm transition-all duration-200 group' do %>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18 18" fill="currentColor" id="Rocket-Launch-Light--Streamline-Phosphor" height="18" width="18">
                  <path d="M17.80566328125 1.371740625c-0.03964921875 -0.63425390625 -0.54546328125 -1.13968828125 -1.1797523437500002 -1.1788523437499998 -1.10775234375 -0.0656859375 -3.93879375 0.0351 -6.28839140625 2.38469765625l-0.48143671875 0.48233671874999995H4.53146484375c-0.3340265625 -0.00078046875 -0.6544828125 0.13206796875000001 -0.8899875 0.36895078125L0.550378125 6.5190796875c-0.68566640625 0.6858703125 -0.37173515625000003 1.8567984375000002 0.56508046875 2.10766640625 0.049148437499999996 0.0131625 0.09904921875 0.023329687499999998 0.149428125 0.030459374999999997l3.52124296875 0.49133671874999996 4.0638796875 4.0638796875 0.49133671874999996 3.5257429687500004c0.13706015625 0.96009609375 1.26204609375 1.41178359375 2.0249789062500003 0.81304453125 0.03969140625 -0.0311484375 0.07747734375000001 -0.06465234375 0.113146875 -0.1003359375l3.09110625 -3.09109921875c0.2367984375 -0.23555390625 0.36963281249999996 -0.55598203125 0.36895078125 -0.8899875V8.14246875l0.48143671875 -0.48143671875c2.3487046874999997 -2.35139765625 2.4503906250000003 -5.18063203125 2.38469765625 -6.289291406249999ZM1.27028671875 7.4693601562500005c-0.019687500000000004 -0.063534375 -0.0027351562499999997 -0.13274296875 0.04409296875 -0.17997890625l3.09019921875 -3.09740625c0.03375 -0.03346875 0.07936171875 -0.052228125 0.1268859375 -0.05219296875h4.24475859375L4.84822265625 8.0668828125l-3.43215703125 -0.47874374999999997c-0.0676828125 -0.00758671875 -0.124678125 -0.054028124999999996 -0.14577890625 -0.11877890625Zm12.5884828125 5.9977265625000005c-0.00020390624999999999 0.047657812499999994 -0.01929375 0.093290625 -0.05309296875 0.1268859375l-3.08930625 3.09019921875c-0.09741796875 0.09851484375 -0.26494453125 0.054625781250000005 -0.30154921875 -0.07899609375 -0.001884375 -0.00686953125 -0.00335390625 -0.01384453125 -0.00440859375 -0.020889843749999998l-0.47873671875 -3.4339570312500003 3.9270937499999996 -3.92799375Zm0.7981945312500001 -6.56915625 -5.29761796875 5.29671796875 -3.55544296875 -3.55544296875 5.29761796875 -5.298517968750001c1.43649140625 -1.4457093749999999 3.4275515624999997 -2.200275 5.46140390625 -2.0697328125 0.08937421875 0.00748125 0.159609375 0.07962890625 0.16467890624999998 0.16917890624999998 0.12921328124999998 2.0323125 -0.625246875 4.0214671875 -2.06973984375 5.456896875ZM6.83966953125 14.246388281249999c-0.38875078125 0.8575875 -1.69808203125 2.851734375 -5.399303906249999 2.851734375 -0.29818828124999996 -0.0000140625 -0.53993671875 -0.24174140624999998 -0.53993671875 -0.5399296875 0 -3.70122890625 1.994146875 -5.01056015625 2.851734375 -5.3993109375 0.37823203125 -0.1731796875 0.80210390625 0.12803203125 0.7629679687500001 0.5421796875 -0.01816171875 0.19220625 -0.13748203125 0.3601265625 -0.31302421875 0.44050078125 -0.629915625 0.28525781250000004 -2.0274398437500003 1.21663828125 -2.2020187499999997 3.8614007812500004 2.6447625 -0.17457890625 3.57614296875 -1.5765960937499999 3.8614078125 -2.2020187499999997 0.1731796875 -0.37823203125 0.69086953125 -0.42714843750000003 0.9318375000000001 -0.08805234375 0.11183203125 0.1573734375 0.13121015625000002 0.3624609375 0.0508359375 0.53799609375Z" stroke-width="0.0703"></path>
                </svg>
                <span class="font-medium sidebar-navigation pl-4 nata-sans">Setup</span>
              <% end %>
            </li>
            <!-- Home without Dropdown -->
            <li>
              <%= link_to manage_dashboard_path, class: 'w-full flex items-center px-4 py-3 text-gray-700 hover:bg-gray-100 hover:shadow-sm transition-all duration-200 group' do %>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18 18" fill="currentColor" id="House-Line-Light--Streamline-Phosphor" height="18" width="18">
                  <path d="M17.37152578125 15.4285453125h-1.3454226562499998v-5.8922085937499995l0.43053046875 0.43053749999999996c0.24626953125 0.24195234375 0.6621046875000001 0.126590625 0.74851171875 -0.20766093749999998 0.0394453125 -0.15257109375 -0.00408515625 -0.3146484375 -0.11466562500000001 -0.42693046875L9.739982812500001 1.98103359375c-0.40867031249999997 -0.40870546875 -1.0712953125 -0.40870546875 -1.4799656250000002 0L0.9095203125 9.332282812499999c-0.24224765625 0.24598125 -0.12737109375 0.66195 0.206775 0.7487507812499999 0.15252890624999998 0.03962109375 0.31465546875 -0.0037125 0.4270640625 -0.114159375l0.43053749999999996 -0.43053749999999996v5.8922085937499995H0.62847421875c-0.345234375 0.00043593749999999996 -0.56053828125 0.37443515625 -0.3875484375 0.6732 0.0800859375 0.13831171875 0.227728125 0.2235515625 0.3875484375 0.2237484375h16.7430515625c0.345234375 -0.00042890625000000003 0.56053828125 -0.374428125 0.3875484375 -0.6731929687499999 -0.0800859375 -0.13831171875 -0.227728125 -0.2235515625 -0.3875484375 -0.22375546875000002ZM2.8708453124999997 8.63938828125 8.893863281249999 2.615625c0.05847890625 -0.05895703125 0.1538015625 -0.05895703125 0.2122734375 0l6.0230179687500005 6.02376328125v6.78915703125h-3.88678359375v-4.33525078125c0 -0.24768281250000002 -0.20079140625 -0.4484671875 -0.44847421875000004 -0.44847421875000004h-3.5877937500000003c-0.247696875 -0.0000140625 -0.44847421875000004 0.20077734375 -0.44847421875000004 0.44847421875000004v4.33525078125H2.8708453124999997Zm7.47457734375 6.78915703125h-2.6908453124999996v-3.8867765624999997h2.6908453124999996Z" stroke-width="0.0703"></path>
                </svg>
                <span class="font-medium sidebar-navigation pl-4 nata-sans">Home</span>
              <% end %>
            </li>
            <!-- Getting Paid with Dropdown -->
            <li>
              <button onclick="toggleDropdown('getting-paid')" class="w-full flex items-center px-4 py-3 text-gray-700 hover:bg-gray-100 hover:shadow-sm transition-all duration-200 group">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18 18" fill="currentColor" id="Money-Light--Streamline-Phosphor" height="18" width="18">
                  <path d="M9 11.671875a2.671875 2.671875 0 1 0 -2.671875 -2.671875 2.671875 2.671875 0 0 0 2.671875 2.671875Zm0 -4.5a1.828125 1.828125 0 1 1 -1.828125 1.828125 1.828125 1.828125 0 0 1 1.828125 -1.828125Zm7.875 -3.09375H1.125a0.421875 0.421875 0 0 0 -0.421875 0.421875v9a0.421875 0.421875 0 0 0 0.421875 0.421875h15.75a0.421875 0.421875 0 0 0 0.421875 -0.421875V4.5a0.421875 0.421875 0 0 0 -0.421875 -0.421875ZM1.546875 7.651406249999999A3.848203125 3.848203125 0 0 0 4.27640625 4.921875h9.447187500000002A3.848203125 3.848203125 0 0 0 16.453125 7.651406249999999v2.6971875A3.848203125 3.848203125 0 0 0 13.723593750000001 13.078125H4.27640625A3.848203125 3.848203125 0 0 0 1.546875 10.348593750000001Zm14.90625 -0.881015625A3.009375 3.009375 0 0 1 14.604609375 4.921875H16.453125ZM3.395390625 4.921875A3.009375 3.009375 0 0 1 1.546875 6.770390625V4.921875ZM1.546875 11.229609375A3.009375 3.009375 0 0 1 3.395390625 13.078125H1.546875ZM14.604609375 13.078125A3.009375 3.009375 0 0 1 16.453125 11.229609375V13.078125Z" stroke-width="0.0703"></path>
                </svg>
                <span class="font-medium sidebar-navigation pl-4 nata-sans">Getting Paid</span>
                <svg class="w-3 h-3 ml-auto transform transition-transform duration-200" id="getting-paid-arrow" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
                </svg>
              </button>
              <ul class="mt-2 space-y-1 ml-8 hidden" id="getting-paid-dropdown">
                <li><a href="#" class="block px-4 py-2 text-sm text-gray-600 hover:text-gray-900 hover:bg-gray-50 rounded-md transition-colors">Website & SEO</a></li>
                <li><a href="#" class="block px-4 py-2 text-sm text-gray-600 hover:text-gray-900 hover:bg-gray-50 rounded-md transition-colors">SEO</a></li>
                <li><a href="#" class="block px-4 py-2 text-sm text-gray-600 hover:text-gray-900 hover:bg-gray-50 rounded-md transition-colors">Site Speed</a></li>
                <li><a href="#" class="block px-4 py-2 text-sm text-gray-600 hover:text-gray-900 hover:bg-gray-50 rounded-md transition-colors">Uptime & Security</a></li>
              </ul>
            </li>
            <!-- sales with Dropdown -->
            <li class="border-b">
              <button onclick="toggleDropdown('sales')" class="w-full flex items-center px-4 py-3 text-gray-700 hover:bg-gray-100 hover:shadow-sm transition-all duration-200 group">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18 18" fill="currentColor" id="Currency-Circle-Dollar-Light--Streamline-Phosphor" height="18" width="18">
                  <path d="M9 0.18C2.2103578125 0.17969765625 -2.0331 7.529505468749999 1.3614609375 13.40965546875c3.39455390625 5.88015703125 11.881603125 5.880536718749999 15.276684375 0.0006890625C17.41239140625 12.06945 17.82 10.548365624999999 17.82 9 17.814283593749998 4.13121796875 13.86878203125 0.18571640625000002 9 0.18Zm0 16.60234921875c-5.99085703125 0.00027421875 -9.7350890625 -6.48485859375 -6.7398890625 -11.673225C5.2553109375 -0.0792421875 12.74388046875 -0.0795796875 15.7395375 5.10851953125c0.6831562499999999 1.1831414062499999 1.04281171875 2.5252734375 1.04281171875 3.89148046875C16.7775890625 13.296093749999999 13.296093749999999 16.77758203125 9 16.78234921875Zm3.2858789062500002 -6.0529359375c0 1.24162734375 -1.0066078125 2.24817890625 -2.2482351562500003 2.2482351562500003h-0.518821875v0.864703125c0 0.3993890625 -0.4323515625 0.6490125 -0.7782328125 0.44931796874999996 -0.1605234375 -0.09267890625 -0.2594109375 -0.26396015625 -0.2594109375 -0.44931796874999996v-0.864703125H6.92470546875c-0.3993890625 0 -0.6490125 -0.4323515625 -0.4493109375 -0.77823984375 0.09267890625 -0.1605234375 0.263953125 -0.2594109375 0.4493109375 -0.2594109375h3.11293828125c0.93191484375 -0.0000421875 1.51436953125 -1.0088859374999999 1.0483734375 -1.81592578125 -0.21624609374999998 -0.37451249999999997 -0.6159093750000001 -0.6052289062499999 -1.0483734375 -0.6052500000000001h-2.0752875c-1.7306929687500001 -0.00007734375 -2.81239453125 -1.8736523437500001 -1.94698125 -3.372440625 0.401625 -0.6955523437500001 1.14379453125 -1.1240296875 1.94698125 -1.1240296875h0.518821875V4.1576484375c0 -0.3993890625 0.4323515625 -0.6490125 0.7782328125 -0.44931796874999996 0.1605234375 0.09267890625 0.2594109375 0.26396015625 0.2594109375 0.44931796874999996v0.864703125h1.5564726562500002c0.3993890625 0 0.6490125 0.4323515625 0.4493109375 0.77823984375 -0.092671875 0.16051640625000002 -0.26396015625 0.25940390625 -0.4493109375 0.2594109375h-3.11293828125c-0.93191484375 0 -1.51435546875 1.00882265625 -1.0484015625 1.81588359375 0.21626015625 0.37456875 0.6158812499999999 0.6053132812500001 1.0484015625 0.6052921874999999h2.0752875c1.24162734375 0.00005625000000000001 2.2482351562500003 1.0066078125 2.2482351562500003 2.2482351562500003Z" stroke-width="0.0703"></path>
                </svg>
                <span class="font-medium sidebar-navigation pl-4 nata-sans">Sales</span>
                <svg class="w-3 h-3 ml-auto transform transition-transform duration-200" id="sales-arrow" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
                </svg>
              </button>
              <ul class="mt-2 space-y-1 ml-8 hidden" id="sales-dropdown">
                <li><a href="#" class="block px-4 py-2 text-sm text-gray-600 hover:text-gray-900 hover:bg-gray-50 rounded-md transition-colors">Website & SEO</a></li>
                <li><a href="#" class="block px-4 py-2 text-sm text-gray-600 hover:text-gray-900 hover:bg-gray-50 rounded-md transition-colors">SEO</a></li>
                <li><a href="#" class="block px-4 py-2 text-sm text-gray-600 hover:text-gray-900 hover:bg-gray-50 rounded-md transition-colors">Site Speed</a></li>
                <li><a href="#" class="block px-4 py-2 text-sm text-gray-600 hover:text-gray-900 hover:bg-gray-50 rounded-md transition-colors">Uptime & Security</a></li>
              </ul>
            </li>


            <!-- Website with Dropdown -->
            <li>
              <button onclick="toggleDropdown('website')" class="w-full flex items-center px-4 py-3 text-gray-700 hover:bg-gray-100 hover:shadow-sm transition-all duration-200 group">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18 18" fill="currentColor" id="Desktop-Tower-Light--Streamline-Phosphor" height="18" width="18">
                  <path d="M15.046875 5.0625a0.421875 0.421875 0 0 1 -0.421875 0.421875h-2.25a0.421875 0.421875 0 0 1 0 -0.84375h2.25a0.421875 0.421875 0 0 1 0.421875 0.421875Zm-0.421875 1.828125h-2.25a0.421875 0.421875 0 0 0 0 0.84375h2.25a0.421875 0.421875 0 0 0 0 -0.84375Zm2.671875 -3.515625v11.25a0.984375 0.984375 0 0 1 -0.984375 0.984375h-5.625a0.984375 0.984375 0 0 1 -0.984375 -0.984375v-1.265625H6.609375v1.40625h1.265625a0.421875 0.421875 0 0 1 0 0.84375H4.5a0.421875 0.421875 0 0 1 0 -0.84375h1.265625v-1.40625H2.25a1.546875 1.546875 0 0 1 -1.546875 -1.546875V6.75a1.546875 1.546875 0 0 1 1.546875 -1.546875h7.453125V3.375a0.984375 0.984375 0 0 1 0.984375 -0.984375h5.625a0.984375 0.984375 0 0 1 0.984375 0.984375ZM9.703125 12.515625V6.046875H2.25a0.703125 0.703125 0 0 0 -0.703125 0.703125v5.0625a0.703125 0.703125 0 0 0 0.703125 0.703125Zm6.75 -9.140625a0.140625 0.140625 0 0 0 -0.140625 -0.140625h-5.625a0.140625 0.140625 0 0 0 -0.140625 0.140625v11.25a0.140625 0.140625 0 0 0 0.140625 0.140625h5.625a0.140625 0.140625 0 0 0 0.140625 -0.140625Zm-2.953125 8.578125a0.703125 0.703125 0 1 0 0.703125 0.703125 0.703125 0.703125 0 0 0 -0.703125 -0.703125Z" stroke-width="0.0703"></path>
                </svg>
                <span class="font-medium sidebar-navigation pl-4 nata-sans">Website</span>
                <svg class="w-3 h-3 ml-auto transform transition-transform duration-200" id="website-arrow" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
                </svg>
              </button>
              <ul class="mt-2 space-y-1 ml-8 hidden" id="website-dropdown">
                <li><%= link_to 'Website & SEO', manage_website_website_path, class: 'block px-4 py-2 text-sm text-gray-600 hover:text-gray-900 hover:bg-gray-50 rounded-md transition-colors' %></li>
                <li><a href="#" class="block px-4 py-2 text-sm text-gray-600 hover:text-gray-900 hover:bg-gray-50 rounded-md transition-colors">SEO</a></li>
                <li><a href="#" class="block px-4 py-2 text-sm text-gray-600 hover:text-gray-900 hover:bg-gray-50 rounded-md transition-colors">Site Speed</a></li>
                <li><a href="#" class="block px-4 py-2 text-sm text-gray-600 hover:text-gray-900 hover:bg-gray-50 rounded-md transition-colors">Uptime & Security</a></li>
              </ul>
            </li>

            <!-- Blogs with Dropdown -->
            <li>
              <button onclick="toggleDropdown('blogs')" class="w-full flex items-center px-4 py-3 text-gray-700 hover:bg-gray-100 hover:shadow-sm transition-all duration-200 group">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18 18" fill="#currentColor" id="Pen-Nib-Light--Streamline-Phosphor" height="18" width="18">
                  <path d="M15.83999375 6.27526875c0.0005125 -0.274725 -0.10864375 -0.5382875 -0.3032375 -0.7322125l-5.080375 -5.07963125c-0.404375 -0.40441875 -1.06004375 -0.40441875 -1.464425 0L6.8670625 2.58831875l-4.32375 1.6219625c-0.34630625 0.12963125 -0.5972 0.4340875 -0.65825 0.79878125L0.1662125 15.3221625c-0.04579375 0.27090625 0.16309375 0.51790625 0.43784375 0.517725 0.02476875 -0.00009375 0.04949375 -0.002075 0.0739625 -0.00591875l10.3131 -1.71885c0.364975 -0.06080625 0.6697625 -0.31174375 0.79951875 -0.65825l1.621225 -4.32375 2.12563125 -2.1256375c0.1944625 -0.19395 0.30336875 -0.4575625 0.3025 -0.7322125Zm-4.8814125 6.870225c-0.0185125 0.049375 -0.06190625 0.08515625 -0.1139 0.09393125L1.89763125 14.730475l3.9103125 -3.91105c1.259925 0.77711875 2.8886375 -0.10109375 2.931675 -1.58078125 0.0430375 -1.4796875 -1.53186875 -2.45108125 -2.8348375 -1.7485125 -0.973475 0.52490625 -1.304625 1.7607875 -0.724025 2.70210625l-3.91105 3.9117875L2.76149375 5.1547625c0.008875 -0.05154375 0.0443125 -0.09456875 0.09319375 -0.1131625l4.14624375 -1.553175 5.510825 5.510825Zm-5.1772625 -3.96208125c0 -0.79709375 0.862875 -1.295275 1.553175 -0.89673125 0.69030625 0.39855 0.69030625 1.3949125 0 1.79345625 -0.15739375 0.090875 -0.33598125 0.13871875 -0.517725 0.138725 -0.57188125 0.000025 -1.03545 -0.46356875 -1.03545 -1.03545Zm9.12750625 -2.80311875 -1.87934375 1.87934375 -5.28968125 -5.2889375 1.8800875 -1.8800875c0.05778125 -0.05784375 0.15153125 -0.05784375 0.20930625 0l5.07963125 5.080375c0.05785 0.05778125 0.05785 0.151525 0 0.20930625Z" stroke-width="0.0625"></path>
                </svg>
                <span class="font-medium sidebar-navigation pl-4 nata-sans">Blogs</span>
                <svg class="w-3 h-3 ml-auto transform transition-transform duration-200" id="blogs-arrow" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
                </svg>
              </button>
              <ul class="mt-2 space-y-1 ml-8 hidden" id="blogs-dropdown">
                <li><%= link_to 'Show All Blogs', manage_website_blogs_path, class: 'block px-4 py-2 text-sm text-gray-600 hover:text-gray-900 hover:bg-gray-50 rounded-md transition-colors' %></li>
                <li><%= link_to 'Create A New Blog', new_manage_website_blog_path, class: 'block px-4 py-2 text-sm text-gray-600 hover:text-gray-900 hover:bg-gray-50 rounded-md transition-colors' %></li>
                <li><%= link_to 'Categories', categories_manage_website_blogs_path, class: 'block px-4 py-2 text-sm text-gray-600 hover:text-gray-900 hover:bg-gray-50 rounded-md transition-colors' %></li>
              </ul>
            </li>

            <!-- Services with Dropdown -->
            <li>
              <button onclick="toggleDropdown('services')" class="w-full flex items-center px-4 py-3 text-gray-700 hover:bg-gray-100 hover:shadow-sm transition-all duration-200 group">

                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18 18" fill="#currentColor" id="Wrench-Light--Streamline-Phosphor" height="18" width="18">
                  <path d="M15.44694375 3.524925c-0.12086875 -0.2987375 -0.50310625 -0.384475 -0.7399875 -0.165975l-3.15590625 2.9123125 -1.49919375 -0.32196875 -0.32196875 -1.4991875 2.91231875 -3.15590625c0.21849375 -0.23688125 0.13275625 -0.619125 -0.16598125 -0.73999375 -3.8374 -1.5556 -7.9197625 1.62625625 -7.34825 5.72734375 0.0735875 0.52809375 0.22529375 1.0423125 0.45013125 1.5257875l-4.7173375 4.07263125c-0.00845 0.00691875 -0.0161375 0.0146 -0.0245875 0.02305625 -1.255525 1.25493125 -0.681725 3.3984125 1.03284375 3.85825625 0.79573125 0.21341875 1.644875 -0.01389375 2.22756875 -0.5963125 0.00845 -0.00845 0.0161375 -0.01613125 0.02305 -0.0245875l4.0726375 -4.7173375c3.75456875 1.7460625 7.99134375 -1.22709375 7.6261875 -5.35168125 -0.04701875 -0.53111875 -0.17275 -1.05229375 -0.3730625 -1.5464375ZM10.45911875 9.998875c-0.752525 -0.000325 -1.492725 -0.1911875 -2.151575 -0.5548 -0.1909625 -0.10574375 -0.42990625 -0.0630875 -0.572475 0.1022l-4.301625 4.9770625c-0.76884375 0.73660625 -2.04676875 0.36468125 -2.3002625 -0.66945625 -0.11261875 -0.45945 0.017375 -0.9445875 0.34463125 -1.286175l4.97629375 -4.29855c0.1666125 -0.14318125 0.2090625 -0.38403125 0.1014375 -0.57554375 -1.659925 -3.0026 0.55303125 -6.67614375 3.98331875 -6.612375 0.31478125 0.00585 0.62805625 0.0450375 0.934575 0.11690625L8.89000625 3.9998125c-0.1015125 0.11029375 -0.14306875 0.26305 -0.111425 0.40956875l0.4341625 2.0247875c0.03803125 0.17753125 0.1767125 0.3162125 0.3542375 0.35424375l2.02479375 0.43415625c0.14651875 0.03165 0.299275 -0.00990625 0.40956875 -0.11141875l2.7985875 -2.58343125c0.6495 2.79536875 -1.47098125 5.4680125 -4.3408125 5.47115625Z" stroke-width="0.0625"></path>
                </svg>

                <span class="font-medium sidebar-navigation pl-4 nata-sans">Services</span>
                <svg class="w-3 h-3 ml-auto transform transition-transform duration-200" id="services-arrow" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
                </svg>
              </button>
              <ul class="mt-2 space-y-1 ml-8 hidden" id="services-dropdown">
                <li><%= link_to 'Show All Services', manage_website_services_path, class: 'block px-4 py-2 text-sm text-gray-600 hover:text-gray-900 hover:bg-gray-50 rounded-md transition-colors' %></li>
                <li><%= link_to 'Create A New Service', new_manage_website_service_path, class: 'block px-4 py-2 text-sm text-gray-600 hover:text-gray-900 hover:bg-gray-50 rounded-md transition-colors' %></li>
                <li><%= link_to 'Categories', categories_manage_website_services_path, class: 'block px-4 py-2 text-sm text-gray-600 hover:text-gray-900 hover:bg-gray-50 rounded-md transition-colors' %></li>
              </ul>
            </li>

            <% if current_user.is_ecommerce == true %>
              <!-- Shop with Dropdown -->
              <li class="border-b">
                <button onclick="toggleDropdown('shop')" class="w-full flex items-center px-4 py-3 text-gray-700 hover:bg-gray-100 hover:shadow-sm transition-all duration-200 group">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18 18" fill="currentColor" id="Shopping-Cart--Streamline-Phosphor" height="18" width="18">
                    <path d="M15.70323125 3.27169375c-0.11035 -0.13205 -0.27358125 -0.20835 -0.44566875 -0.20831875H3.54825625l-0.4413125 -2.42649375c-0.0501625 -0.2761125 -0.2906125 -0.4768375 -0.5712375 -0.47688125H0.74069375C0.2936875 0.1604625 0.0148125 0.64465 0.23871875 1.03153125c0.10369375 0.17918125 0.29495 0.2896 0.501975 0.28981875h1.30651875l1.85525625 10.18285625c0.05465 0.30199375 0.18810625 0.5841875 0.386875 0.818025 -1.14335625 1.06791875 -0.70189375 2.97308125 0.794625 3.42929375 1.49651875 0.4562125 2.92570625 -0.87868125 2.57254375 -2.4028125 -0.03308125 -0.1427625 -0.08150625 -0.281525 -0.144425 -0.41386875h3.29678125c-0.1299125 0.2719625 -0.19713125 0.56961875 -0.19670625 0.8710125 0 1.5645125 1.6936375 2.5423375 3.04854375 1.760075 1.35490625 -0.78225625 1.35490625 -2.73789375 0 -3.52015 -0.30893125 -0.1783625 -0.65945625 -0.27226875 -1.01618125 -0.2722875H5.61618125c-0.28063125 -0.0000375 -0.521075 -0.20076875 -0.5712375 -0.476875l-0.23009375 -1.26515h8.4197875c0.8418875 -0.000125 1.563225 -0.60230625 1.7137125 -1.4306375l0.882625 -4.8529875c0.03025 -0.1698125 -0.01655625 -0.3442875 -0.12774375 -0.47615ZM6.5474375 13.80585625c0 0.67050625 -0.72584375 1.089575 -1.30651875 0.75431875 -0.580675 -0.33525 -0.580675 -1.17338125 0 -1.5086375 0.1324125 -0.07644375 0.2826125 -0.11669375 0.43550625 -0.11669375 0.48105 0 0.8710125 0.38996875 0.8710125 0.8710125Zm6.9681 0c0 0.67050625 -0.72584375 1.089575 -1.30651875 0.75431875 -0.580675 -0.33525 -0.580675 -1.17338125 0 -1.5086375 0.1324125 -0.07644375 0.2826125 -0.11669375 0.43550625 -0.11669375 0.48105 0 0.8710125 0.38996875 0.8710125 0.8710125Zm0.2903375 -5.4126125c-0.05030625 0.27691875 -0.2919625 0.47789375 -0.57341875 0.47688125H4.60363125L3.759475 4.224725h10.80200625Z" stroke-width="0.0625"></path>
                  </svg>
                  <span class="font-medium sidebar-navigation pl-4 nata-sans">Shop</span>
                  <svg class="w-3 h-3 ml-auto transform transition-transform duration-200" id="shop-arrow" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
                  </svg>
                </button>
                <ul class="mt-2 space-y-1 ml-8 hidden" id="shop-dropdown">
                  <li><%= link_to 'Products', manage_website_shop_products_path, class: 'block px-4 py-2 text-sm text-gray-600 hover:text-gray-900 hover:bg-gray-50 rounded-md transition-colors' %></li>
                  <li><%= link_to 'Categories', manage_website_shop_categories_path, class: 'block px-4 py-2 text-sm text-gray-600 hover:text-gray-900 hover:bg-gray-50 rounded-md transition-colors' %></li>
                  <li><a href="#" class="block px-4 py-2 text-sm text-gray-600 hover:text-gray-900 hover:bg-gray-50 rounded-md transition-colors">Orders</a></li>
                  <li><a href="#" class="block px-4 py-2 text-sm text-gray-600 hover:text-gray-900 hover:bg-gray-50 rounded-md transition-colors">Customers</a></li>
                </ul>
              </li>
            <% end %>

            <!-- Home without Dropdown -->
            <li>
              <button class="w-full flex items-center px-4 py-3 text-gray-700 hover:bg-gray-100 hover:shadow-sm transition-all duration-200 group">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18 18" fill="currentColor" id="Envelope-Open-Light--Streamline-Phosphor" height="18" width="18">
                  <path d="M17.589121875 6.492740625 9.28794375 0.95861953125c-0.17433984375 -0.11631796875 -0.40154765625 -0.11631796875 -0.5758875 0L0.41087812500000004 6.492740625c-0.14447109375 0.096384375 -0.23113828125000002 0.25867265625 -0.230878125 0.4323515625v8.992940625000001c0 0.6685875000000001 0.541996875 1.2105843749999998 1.21059140625 1.2105843749999998h15.218817187500001c0.66859453125 0 1.21059140625 -0.541996875 1.21059140625 -1.2105843749999998V6.9250921875c0.000253125 -0.17367890625 -0.08640703125 -0.3359671875 -0.230878125 -0.4323515625Zm-10.99473046875 5.274703125 -5.376740625 3.796059375V7.932473437500001Zm1.0609875 0.518821875h2.6892351562499996l5.38625390625 3.8047078125000002H2.2691320312500003Zm3.7502296874999996 -0.518821875 5.376740625 -3.8349703125000003v7.6310296875ZM9 2.014425l7.38717890625 4.928821875 -6.04429453125 4.305375h-2.68577578125L1.6128140625 6.9397875Z" stroke-width="0.0703"></path>
                </svg>
                <span class="font-medium sidebar-navigation pl-4 nata-sans">Inbox</span>
              </button>
            </li>
            <!-- Customers & Leads with Dropdown -->
            <li>
              <button onclick="toggleDropdown('customers-leads')" class="w-full flex items-center px-4 py-3 text-gray-700 hover:bg-gray-100 hover:shadow-sm transition-all duration-200 group">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18 18" fill="currentColor" id="Users-Three-Light--Streamline-Phosphor" height="18" width="18">
                  <path d="M17.64061171875 9.949971093750001c-0.1981546875 0.14861249999999998 -0.47925703124999997 0.10845703125 -0.62786953125 -0.08969062500000001 -0.7589742187499999 -1.020290625 -1.95739453125 -1.6195007812500002 -3.2290171875 -1.61450859375 -0.345234375 0 -0.56100234375 -0.37373203125 -0.38838515625 -0.67271484375 0.08010703125 -0.1387546875 0.22816406250000001 -0.22423359375 0.38838515625 -0.22423359375 1.4960250000000002 -0.00033046875000000003 2.4306890625 -1.6200281250000002 1.6823953125 -2.9154515625 -0.74829375 -1.29543046875 -2.618325 -1.29502265625 -3.36604921875 0.0007312499999999999 -0.087778125 0.15212109375 -0.1545328125 0.31542890625000003 -0.19844296874999998 0.48547968750000003 -0.08630859375 0.33430781249999997 -0.50214375 0.44981015625000004 -0.7485046875 0.2079140625 -0.11433515625000001 -0.1122609375 -0.16009453125 -0.27699609375 -0.1200375 -0.43214765624999996 0.54447890625 -2.117615625 3.1771617187500003 -2.85171328125 4.73883046875 -1.32136875 1.23453984375 1.20976875 1.11138046875 3.23248359375 -0.2608171875 4.28354296875 0.8843625 0.33001171875 1.6548539062499998 0.9079453125 2.219203125 1.66458515625 0.14861249999999998 0.19814765625 0.10845703125 0.47925 -0.08969062500000001 0.6278625Zm-4.0669171875000005 4.79868046875c0.12411562500000001 0.21444609375 0.05081484375 0.48890390624999996 -0.16369453125 0.6129140625 -0.0679921875 0.039853124999999996 -0.14542734375 0.060757031249999996 -0.224240625 0.0605390625 -0.1603265625 0.00010546875 -0.30851015625 -0.08538749999999999 -0.3886734375 -0.22423359375 -1.70647734375 -2.89125703125 -5.88918515625 -2.89125703125 -7.5956624999999995 0 -0.16002421875 0.30590859375 -0.59119453125 0.32386640624999996 -0.776109375 0.032329687499999996 -0.09309375 -0.14677734374999998 -0.0929953125 -0.334125 0.00024609375 -0.48080390624999997 0.61085390625 -1.0495406250000001 1.56728671875 -1.85431640625 2.7058007812500002 -2.2767539062499997 -2.21992734375 -1.4413640625000002 -2.0470640625 -4.745348437500001 0.31115390625 -5.9471859375000005 2.35821796875 -1.20183046875 5.1331218750000005 0.5998640625 4.99483125 3.24305859375 -0.057515624999999994 1.09932890625 -0.6379382812500001 2.10465 -1.56122578125 2.70412734375 1.1353429687499998 0.42387890625 2.0886468750000002 1.2282046875000001 2.69757421875 2.2760085937500003ZM9 12.132548437499999c1.95633984375 0 3.17904609375 -2.1177984375000003 2.2008796875 -3.812034375 -0.97816640625 -1.6942359375 -3.4235859375000004 -1.6942359375 -4.401759375 0 -0.2230453125 0.3863390625 -0.34047421875 0.82457578125 -0.34047421875 1.27068046875 0 1.40355 1.1378039062499998 2.5413539062500003 2.5413539062500003 2.5413539062500003Zm-4.33525078125 -4.33525078125c0 -0.24768281250000002 -0.20079843749999998 -0.4484671875 -0.44847421875000004 -0.44847421875000004 -1.4960250000000002 -0.000478125 -2.43052734375 -1.62026015625 -1.6821070312500002 -2.9156203124999998 0.7484203125 -1.2953531249999999 2.6184515625 -1.2947625 3.36604921875 0.00106875 0.08760234375 0.15184687500000002 0.15425859375 0.31484531250000003 0.1981546875 0.484565625 0.08630859375 0.33430078125 0.50214375 0.44981015625000004 0.7485046875 0.2079140625 0.11433515625000001 -0.11226796875 0.16009453125 -0.277003125 0.1200375 -0.4321546875C6.422435156250001 2.57698125 3.78975234375 1.8428906250000001 2.22808359375 3.3732281250000002 0.99354375 4.583003906249999 1.116703125 6.605718749999999 2.48890078125 7.65677109375c-0.8844539062500001 0.33022265625 -1.65495234375 0.9084164062500001 -2.219203125 1.6653375 -0.20714062500000002 0.2761875 -0.0376171875 0.6730453125 0.30513515625 0.7143398437499999 0.159075 0.019167187500000002 0.31629375000000004 -0.04798828125 0.412425 -0.17616796875000001 0.7589812499999999 -1.020290625 1.95739453125 -1.6195007812500002 3.2290171875 -1.61450859375 0.24767578125 -0.0000140625 0.44847421875000004 -0.20079843749999998 0.44847421875000004 -0.44847421875000004Z" stroke-width="0.0703"></path>
                </svg>
                <span class="font-medium sidebar-navigation pl-4 nata-sans">Customers & Leads</span>
                <svg class="w-3 h-3 ml-auto transform transition-transform duration-200" id="customers-leads-arrow" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
                </svg>
              </button>
              <ul class="mt-2 space-y-1 ml-8 hidden" id="customers-leads-dropdown">
                <li><a href="#" class="block px-4 py-2 text-sm text-gray-600 hover:text-gray-900 hover:bg-gray-50 rounded-md transition-colors">Contacts</a></li>
                <li><a href="#" class="block px-4 py-2 text-sm text-gray-600 hover:text-gray-900 hover:bg-gray-50 rounded-md transition-colors">Forms & Submissions</a></li>
                <li><a href="#" class="block px-4 py-2 text-sm text-gray-600 hover:text-gray-900 hover:bg-gray-50 rounded-md transition-colors">Business Email</a></li>
              </ul>
            </li>
            <!-- Marketing with Dropdown -->
            <li>
              <button onclick="toggleDropdown('marketing')" class="w-full flex items-center px-4 py-3 text-gray-700 hover:bg-gray-100 hover:shadow-sm transition-all duration-200 group">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18 18" fill="currentColor" id="Megaphone-Light--Streamline-Phosphor" height="18" width="18">
                  <path d="M17.82 8.66837109375c-0.0022921875 -2.11293984375 -1.7145984375 -3.82524609375 -3.8275382812500003 -3.8275453125h-3.31581796875c-0.214678125 -0.01248046875 -4.50152578125 -0.29704921875 -8.58285 -3.72019921875 -0.68688984375 -0.5764781250000001 -1.74025546875 -0.19319765625000002 -1.8960539062500001 0.6899062499999999 -0.01172109375 0.06644531249999999 -0.0176484375 0.1337765625 -0.01771171875 0.20124140624999998V15.3249609375c-0.0030656249999999998 0.453121875 0.2596921875 0.8659828125 0.671484375 1.05507421875 0.15458906249999999 0.07188046875 0.32293828125 0.10934999999999999 0.49341796875 0.10983515625000001 0.27428203125 0.00016171875 0.53969765625 -0.0971578125 0.7488632812499999 -0.274584375 3.3282984375 -2.7891140625 6.78723046875 -3.4947140625 8.07112265625 -3.6669515625v2.8290515625c-0.00011250000000000001 0.3894609375 0.19440703125 0.753215625 0.5183859375000001 0.96936328125l0.9152789062500001 0.60991171875c0.66766640625 0.44463515625 1.5744375 0.09715078125 1.773984375 -0.67980234375l1.00930078125 -3.8034140625000004c1.9506375 -0.20219062499999998 3.4341117187499997 -1.84399453125 3.43813359375 -3.8050734375ZM1.4522695312499998 15.4514390625c-0.09789609375000001 0.08263125 -0.24853359375 0.02830078125 -0.27114609375 -0.09779765625 -0.00169453125 -0.0094640625 -0.0025664062499999997 -0.01906171875 -0.0026085937500000002 -0.02868046875V2.01177421875c-0.0018421875 -0.06482109375 0.03609140625 -0.1242 0.09568828125 -0.14977265625 0.022134375 -0.010490625 0.0462375 -0.0161578125 0.07072734375 -0.01664296875 0.03863671875 0.0001265625 0.07590937499999999 0.0143296875 0.10484296875 0.039944531250000005 3.66112265625 3.07201640625 7.40546015625 3.76014375 8.712646875 3.9107460937500003v5.7413109375c-1.3046906249999999 0.15393515624999998 -5.04819140625 0.8428921875 -8.71015078125 3.91407890625Zm10.953421875 0.5824546875c-0.0278578125 0.1116984375 -0.15799921875 0.16204218750000002 -0.25377890625 0.098184375l-0.9152859375 -0.60991171875c-0.0464203125 -0.03097265625 -0.07422890625 -0.08315156250000001 -0.074053125 -0.13895859375v-2.8872984375h2.18003203125Zm1.5867703125 -4.5364710937499995h-2.82905859375V5.83931953125h2.82905859375c2.177803125 0 3.53893359375 2.35754296875 2.450025 4.24357734375 -0.50535703125 0.87531328125 -1.43930390625 1.41452578125 -2.450025 1.41452578125Z" stroke-width="0.0703"></path>
                </svg>
                <span class="font-medium sidebar-navigation pl-4 nata-sans">Marketing</span>
                <svg class="w-3 h-3 ml-auto transform transition-transform duration-200" id="marketing-arrow" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
                </svg>
              </button>
              <ul class="mt-2 space-y-1 ml-8 hidden" id="marketing-dropdown">
                <li><a href="#" class="block px-4 py-2 text-sm text-gray-600 hover:text-gray-900 hover:bg-gray-50 rounded-md transition-colors">Marketing Home</a></li>
                <li><a href="#" class="block px-4 py-2 text-sm text-gray-600 hover:text-gray-900 hover:bg-gray-50 rounded-md transition-colors">Google Ads</a></li>
                <li><a href="#" class="block px-4 py-2 text-sm text-gray-600 hover:text-gray-900 hover:bg-gray-50 rounded-md transition-colors">Email Marketing</a></li>
                <li><a href="#" class="block px-4 py-2 text-sm text-gray-600 hover:text-gray-900 hover:bg-gray-50 rounded-md transition-colors">Social Media Marketing</a></li>
                <li><a href="#" class="block px-4 py-2 text-sm text-gray-600 hover:text-gray-900 hover:bg-gray-50 rounded-md transition-colors">Referral Program</a></li>
              </ul>
            </li>
            <!-- Analytics with Dropdown -->
            <li>
              <button onclick="toggleDropdown('analytics')" class="w-full flex items-center px-4 py-3 text-gray-700 hover:bg-gray-100 hover:shadow-sm transition-all duration-200 group">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18 18" fill="currentColor" id="Chart-Line-Up-Light--Streamline-Phosphor" height="18" width="18">
                  <path d="M17.82 15.91764609375c0 0.28653046875 -0.23229140625 0.51881484375 -0.518821875 0.518821875H0.698821875c-0.2865375 0 -0.518821875 -0.232284375 -0.518821875 -0.518821875V2.08235390625c0 -0.3993890625 0.4323515625 -0.6490125 0.7782328125 -0.44931796874999996 0.16053046875000002 0.09267890625 0.25941796875 0.26396015625 0.25941796875 0.44931796874999996V11.8984921875l4.6486546875 -4.6486546875c0.20256328125 -0.20231015624999998 0.53071171875 -0.20231015624999998 0.733275 0L9 9.6493921875l4.97378671875 -4.972921875h-2.2067296874999998c-0.3993890625 0 -0.64900546875 -0.4323515625 -0.4493109375 -0.7782328125 0.092671875 -0.16051640625000002 0.26396015625 -0.25940390625 0.4493109375 -0.2594109375h3.4588265625c0.28653046875 0.00000703125 0.518821875 0.23229140625 0.518821875 0.518821875v3.45881953125c0 0.39939609375 -0.4323515625 0.6490125 -0.7782328125 0.44931796874999996 -0.1605234375 -0.09267890625 -0.2594109375 -0.26396015625 -0.2594109375 -0.44931796874999996V5.40973828125l-5.34042421875 5.34042421875c-0.20256328125 0.20231015624999998 -0.53071171875 0.20231015624999998 -0.733275 0l-2.40041953125 -2.3995546875000002 -5.01529921875 5.0152921875v2.03292421875h16.083534375c0.2865375 0 0.518821875 0.232284375 0.518821875 0.518821875Z" stroke-width="0.0703"></path>
                </svg>
                <span class="font-medium sidebar-navigation pl-4 nata-sans">Analytics</span>
                <svg class="w-3 h-3 ml-auto transform transition-transform duration-200" id="analytics-arrow" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
                </svg>
              </button>
              <ul class="mt-2 space-y-1 ml-8 hidden" id="analytics-dropdown">
                <li><a href="#" class="block px-4 py-2 text-sm text-gray-600 hover:text-gray-900 hover:bg-gray-50 rounded-md transition-colors">Highlights</a></li>
                <li><a href="#" class="block px-4 py-2 text-sm text-gray-600 hover:text-gray-900 hover:bg-gray-50 rounded-md transition-colors">Real-time</a></li>
                <li><a href="#" class="block px-4 py-2 text-sm text-gray-600 hover:text-gray-900 hover:bg-gray-50 rounded-md transition-colors">Traffic</a></li>
                <li><a href="#" class="block px-4 py-2 text-sm text-gray-600 hover:text-gray-900 hover:bg-gray-50 rounded-md transition-colors">Behavior</a></li>
                <li><a href="#" class="block px-4 py-2 text-sm text-gray-600 hover:text-gray-900 hover:bg-gray-50 rounded-md transition-colors">Marketing</a></li>
                <li><a href="#" class="block px-4 py-2 text-sm text-gray-600 hover:text-gray-900 hover:bg-gray-50 rounded-md transition-colors">Sessions Recordings</a></li>
                <li><a href="#" class="block px-4 py-2 text-sm text-gray-600 hover:text-gray-900 hover:bg-gray-50 rounded-md transition-colors">Benchmarks</a></li>
                <li><a href="#" class="block px-4 py-2 text-sm text-gray-600 hover:text-gray-900 hover:bg-gray-50 rounded-md transition-colors">All Reports</a></li>
              </ul>
            </li>
            <!-- Automations with Dropdown -->
            <li class="border-b">
              <button onclick="toggleDropdown('automations')" class="w-full flex items-center px-4 py-3 text-gray-700 hover:bg-gray-100 hover:shadow-sm transition-all duration-200 group">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18 18" fill="currentColor" id="Lightning-Light--Streamline-Phosphor" height="18" width="18">
                  <path d="M15.035625 8.341171875a0.421875 0.421875 0 0 0 -0.262265625 -0.298828125l-4.1646093749999995 -1.5616406250000001 1.0546875 -5.2734375a0.421875 0.421875 0 0 0 -0.7221093749999999 -0.37054687499999994l-7.875 8.4375a0.421875 0.421875 0 0 0 0.1603125 0.6827343750000001l4.1646093749999995 1.5616406250000001 -1.0546875 5.2734375a0.421875 0.421875 0 0 0 0.22078125 0.45843749999999994A0.426796875 0.426796875 0 0 0 6.75 17.296875a0.421875 0.421875 0 0 0 0.308671875 -0.13429687499999998l7.875 -8.4375a0.421875 0.421875 0 0 0 0.10195312499999999 -0.38390625ZM7.453125 15.50109375l0.8332031249999999 -4.168125a0.421875 0.421875 0 0 0 -0.265078125 -0.47812499999999997l-3.9093750000000003 -1.466015625 6.43078125 -6.890625 -0.83109375 4.168828125a0.421875 0.421875 0 0 0 0.265078125 0.47812499999999997l3.9093750000000003 1.466015625Z" stroke-width="0.0703"></path>
                </svg>
                <span class="font-medium sidebar-navigation pl-4 nata-sans">Automations</span>
                <svg class="w-3 h-3 ml-auto transform transition-transform duration-200" id="automations-arrow" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
                </svg>
              </button>
              <ul class="mt-2 space-y-1 ml-8 hidden" id="automations-dropdown">
                <li><a href="#" class="block px-4 py-2 text-sm text-gray-600 hover:text-gray-900 hover:bg-gray-50 rounded-md transition-colors">Highlights</a></li>
                <li><a href="#" class="block px-4 py-2 text-sm text-gray-600 hover:text-gray-900 hover:bg-gray-50 rounded-md transition-colors">Real-time</a></li>
                <li><a href="#" class="block px-4 py-2 text-sm text-gray-600 hover:text-gray-900 hover:bg-gray-50 rounded-md transition-colors">Traffic</a></li>
                <li><a href="#" class="block px-4 py-2 text-sm text-gray-600 hover:text-gray-900 hover:bg-gray-50 rounded-md transition-colors">Behavior</a></li>
                <li><a href="#" class="block px-4 py-2 text-sm text-gray-600 hover:text-gray-900 hover:bg-gray-50 rounded-md transition-colors">Marketing</a></li>
                <li><a href="#" class="block px-4 py-2 text-sm text-gray-600 hover:text-gray-900 hover:bg-gray-50 rounded-md transition-colors">Sessions Recordings</a></li>
                <li><a href="#" class="block px-4 py-2 text-sm text-gray-600 hover:text-gray-900 hover:bg-gray-50 rounded-md transition-colors">Benchmarks</a></li>
                <li><a href="#" class="block px-4 py-2 text-sm text-gray-600 hover:text-gray-900 hover:bg-gray-50 rounded-md transition-colors">All Reports</a></li>
              </ul>
            </li>

            <!-- Settings without Dropdown -->
            <li>
              <%= link_to manage_settings_settings_path, class: 'w-full flex items-center px-4 py-3 text-gray-700 hover:bg-gray-100 hover:shadow-sm transition-all duration-200 group' do %>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18 18" fill="currentColor" id="Gear-Light--Streamline-Phosphor" height="18" width="18">
                  <path d="M8.999142187499999 5.04689765625c-3.04193671875 0 -4.9431515625 3.2930015624999998 -3.4221796875 5.92739296875 1.5209648437499999 2.6343984375 5.323387500000001 2.6343984375 6.844359375 0 0.3468234375 -0.60071484375 0.5294109375 -1.2821484375 0.5294109375 -1.9757953125 -0.002840625 -2.18122734375 -1.7703632812499999 -3.94875703125 -3.951590625 -3.9515976562499997Zm0 6.87234375c-2.24838984375 0.0000984375 -3.6536132812499997 -2.43378984375 -2.52950625 -4.381003125 1.1241070312499999 -1.94721328125 3.93459609375 -1.94733984375 5.0588789062499995 -0.00022500000000000002 0.2563875 0.44403046875 0.39136640624999997 0.9477421874999999 0.39136640624999997 1.46048203125 0 1.61303203125 -1.30770703125 2.9206687500000004 -2.9207390625 2.9207460937499996Zm7.387762500000001 -2.67677578125c0.0051539062500000005 -0.16235859375 0.0051539062500000005 -0.32558203124999996 0 -0.487940625l1.3169109374999999 -1.64592421875c0.1020796875 -0.127771875 0.1374609375 -0.29640234374999996 0.09535078125 -0.4544296875 -0.20603671875 -0.7765171875 -0.51456796875 -1.52213203125 -0.9174515624999999 -2.2171921875000002 -0.08116171875 -0.14307890625 -0.22573828125 -0.23882343749999999 -0.3891515625 -0.257709375l-2.10035390625 -0.2328046875q-0.165796875 -0.1778203125 -0.3436171875 -0.3436171875l-0.2336625 -2.10121171875c-0.0188859375 -0.16341328125000001 -0.11463046875 -0.30798984375 -0.257709375 -0.3891515625 -0.69421640625 -0.4017234375 -1.43861484375 -0.70965 -2.21375390625 -0.9157359374999999 -0.15843515625 -0.0414 -0.32711484375 -0.0050484375 -0.4544296875 0.09793125l-1.6493625 1.32034921875c-0.16235859375 -0.0051539062500000005 -0.32558203124999996 -0.0051539062500000005 -0.487940625 0L7.10924765625 0.293821875c-0.127771875 -0.1020796875 -0.29640234374999996 -0.13746796875 -0.4544296875 -0.0953578125C5.87830078125 0.4045078125 5.1326859375 0.7130390625 4.43762578125 1.11592265625c-0.14307890625 0.08116171875 -0.23882343749999999 0.22573828125 -0.257709375 0.38914453125000004l-0.22936640625000002 2.1003609375q-0.1778203125 0.1666546875 -0.3436171875 0.3436171875l-2.1020765625 0.23881640625c-0.16340624999999998 0.0188859375 -0.30798281250000004 0.11463046875 -0.38914453125000004 0.257709375C0.71398828125 5.139780468750001 0.4060546875 5.8841859375 0.19996875 6.659325000000001c-0.04038046875 0.15642421874999998 -0.0050835937500000004 0.32274140625 0.0953578125 0.44927578125l1.32034921875 1.6493625c-0.0051539062500000005 0.16235859375 -0.0051539062500000005 0.325575 0 0.48793359375L0.29446875 10.892685937500001c-0.1020796875 0.127771875 -0.13746796875 0.29640234374999996 -0.0953578125 0.4544296875 0.20640234375000002 0.77503359375 0.5149265625 1.51917890625 0.9174585937499999 2.21289609375 0.08116171875 0.14307890625 0.22573828125 0.23882343749999999 0.38914453125000004 0.257709375l2.1003609375 0.2328046875q0.1666546875 0.1778203125 0.3436171875 0.3436171875l0.238809375 2.09863828125c0.0188859375 0.16340624999999998 0.1146375 0.30798281250000004 0.25771640625 0.38914453125000004 0.694209375 0.4017234375 1.43861484375 0.70965 2.21375390625 0.9157359374999999 0.15802734375 0.04211015625 0.32665781250000003 0.00672890625 0.4544296875 -0.09535078125l1.6407703125 -1.3160531249999998c0.16235859375 0.0051539062500000005 0.32558203124999996 0.0051539062500000005 0.487940625 0l1.6502203125 1.3212070312500002c0.09148359375 0.0729984375 0.20509453125 0.11268984375 0.32213671875 0.11253515625 0.04464140625 -0.00016171875 0.08909296874999999 -0.005934375 0.13229296875 -0.017184375 0.7750265625 -0.2063953125 1.51917890625 -0.51491953125 2.21289609375 -0.9174515624999999 0.14307890625 -0.08116171875 0.23882343749999999 -0.22573828125 0.257709375 -0.3891515625l0.23279765625 -2.10035390625q0.17782734375 -0.165796875 0.3436171875 -0.3436171875l2.10121875 -0.2336625c0.16340624999999998 -0.0188859375 0.30798984375 -0.11463046875 0.38914453125000004 -0.257709375 0.40187109374999996 -0.6941390624999999 0.70981171875 -1.4385656249999998 0.9157429687499999 -2.21375390625 0.04211015625 -0.15802734375 0.006721875 -0.32665781250000003 -0.0953578125 -0.4544296875Zm-0.2663015625 3.5761921875000002 -2.0307796875 0.225928125c-0.12689296875 0.014624999999999999 -0.24383671875000001 0.075853125 -0.32815546874999996 0.17180859375 -0.16978359375 0.1912640625 -0.35078906249999997 0.37226953125 -0.542053125 0.542053125 -0.09595546875 0.08431875 -0.15717656249999998 0.2012625 -0.17180859375 0.32815546874999996l-0.225928125 2.0299148437500003c-0.47546015625000004 0.25355390625 -0.97503046875 0.45902109375 -1.4912999999999998 0.61335703125l-1.5952359375 -1.2765375c-0.09149062499999999 -0.0729984375 -0.2051015625 -0.1126828125 -0.32214375 -0.11253515625h-0.0309234375c-0.25521328125000003 0.01460390625 -0.51105234375 0.01460390625 -0.766265625 0 -0.1274625 -0.00779765625 -0.25327968749999996 0.03199921875 -0.3530671875 0.11167734375L6.66855703125 16.729875c-0.5157984375 -0.15518671875 -1.01480625 -0.36152578125 -1.48957734375 -0.61593046875l-0.225928125 -2.0290640625000003c-0.014624999999999999 -0.12689296875 -0.075853125 -0.24383671875000001 -0.17180859375 -0.3281484375 -0.1912640625 -0.169790625 -0.37226953125 -0.35079609375 -0.542053125 -0.54206015625 -0.08431875 -0.0959484375 -0.2012625 -0.15717656249999998 -0.32815546874999996 -0.17180859375l-2.0299148437500003 -0.225928125c-0.25329375 -0.47408203125 -0.45875390625 -0.9722109375 -0.61335703125 -1.486996875l1.2765375 -1.59524296875c0.07967109375 -0.09979453125 0.11946796875 -0.22561171875 0.11167031250000001 -0.3530671875 -0.01460390625 -0.25521328125000003 -0.01460390625 -0.51105234375 0 -0.766265625 0.00779765625 -0.1274625 -0.03199921875 -0.25327265625 -0.11167031250000001 -0.3530671875L1.2677625 6.66791015625c0.15518671875 -0.5157984375 0.36151875 -1.01480625 0.61593046875 -1.48957734375l2.0290570312500003 -0.225928125c0.12689999999999999 -0.014624999999999999 0.24383671875000001 -0.075853125 0.32815546874999996 -0.17180859375 0.169790625 -0.1912640625 0.35078906249999997 -0.37226953125 0.542053125 -0.542053125 0.09595546875 -0.08431875 0.15718359375000002 -0.2012625 0.17180859375 -0.32815546874999996l0.225928125 -2.0299148437500003c0.47408906250000005 -0.25329375 0.9722109375 -0.45875390625 1.48700390625 -0.61335703125l1.59524296875 1.2765375c0.09979453125 0.07967109375 0.2256046875 0.11946796875 0.3530671875 0.11167031250000001 0.25521328125000003 -0.01460390625 0.51105234375 -0.01460390625 0.766265625 0 0.12745546875 0.00779765625 0.25327265625 -0.03199921875 0.3530671875 -0.11167031250000001l1.594378125 -1.2765375c0.51580546875 0.15518671875 1.01480625 0.36151875 1.489584375 0.61593046875l0.225928125 2.0307796875c0.014624999999999999 0.12689296875 0.075853125 0.24383671875000001 0.17180859375 0.32815546874999996 0.1912640625 0.16978359375 0.37226953125 0.35078906249999997 0.542053125 0.542053125 0.08431875 0.09595546875 0.2012625 0.15717656249999998 0.32815546874999996 0.17180859375l2.0299148437500003 0.225928125c0.25318828125000004 0.473540625 0.45864843749999995 0.97107890625 0.61335703125 1.4852812499999999L15.453984375 8.262295312500001c-0.079678125 0.09979453125 -0.11946796875 0.22561171875 -0.11167734375 0.3530671875 0.01460390625 0.25521328125000003 0.01460390625 0.51105234375 0 0.766265625 -0.007790625 0.1274625 0.03199921875 0.25327265625 0.11167734375 0.3530671875l1.2765375 1.594378125c-0.15463828125 0.5157421875 -0.36039375 1.01474296875 -0.61421484375 1.489584375Z" stroke-width="0.0703"></path>
                </svg>
                <span class="font-medium sidebar-navigation pl-4 nata-sans">Settings</span>
              <% end %>

            </li>
          </ul>
        </div>

        <% if current_user.website %>
          <%= link_to manage_website_editor_website_editor_path, class: 'flex items-center justify-center py-5 border-t' do %>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18 18" fill="#000000" id="Pencil-Line-Light--Streamline-Phosphor" height="18" width="18">
              <path d="m17.4509296875 4.5713953125 -4.0218750000000005 -4.0218750000000005c-0.49203984375 -0.49209609375 -1.2898546875 -0.49209609375 -1.78189453125 0L0.54897890625 11.64679453125c-0.23677734375 0.23596875 -0.36959765625 0.55667109375 -0.36897890625 0.89095078125v4.0218750000000005c0 0.695840625 0.5640890625 1.2599296875000001 1.2599296875000001 1.2599296875000001h15.11914921875c0.41566640624999995 0 0.6754640625 -0.44997890625000003 0.46762734375 -0.8099578125 -0.0964546875 -0.1670625 -0.2747109375 -0.2699859375 -0.46762734375 -0.2699859375H7.063713281249999L17.4509296875 6.353296875c0.49209609375 -0.492046875 0.49209609375 -1.2898617187499999 0 -1.7819015625ZM4.0038890625 14.75971875 11.879346093750002 6.88336171875l1.7567015625 1.7567015625L5.759690625 16.5155203125Zm-0.7640578125 -0.7631578125 -1.7558015624999999 -1.7566945312500002L9.359486718749999 4.364409375l1.7567015625 1.7558015624999999Zm-1.9798875 2.563059375v-3.0166312499999997l3.1966171875000002 3.19662421875H1.4399296874999998c-0.0994078125 0 -0.1799859375 -0.08058515625 -0.1799859375 -0.17999296874999998ZM16.686871875 5.5892390625l-2.28766640625 2.28766640625 -4.2756609375 -4.27655390625 2.28676640625 -2.2867734375000004c0.0703125 -0.07038281249999999 0.18438046875 -0.07038281249999999 0.2546859375 0l4.0218750000000005 4.020975c0.07038281249999999 0.07030546875 0.07038281249999999 0.18438046875 0 0.2546859375Z" stroke-width="0.0703"></path>
            </svg>
            <p class="pl-4 sidebar-navigation nata-sans">Design Site</p>
          <% end %>
        <% end %>






      </nav>
    </div>
    <div class="p-10 bg-white" style="border-radius: 0px 20px 0px 0px; width: 82.5%; overflow: scroll; max-height: calc(100vh - 64px);">
      <%= yield %>
      <%= link_to "Log out", destroy_user_session_path, class: 'ml-3 text-red-600 hover:text-red-800 bg-transparent border-0 p-0 cursor-pointer', data: { "turbo-method": :delete } %>

    </div>

  </div>
</main>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        const notificationIcon = document.querySelector('.notification-icon');
        const notificationSection = document.querySelector('.notification-section');

        if (notificationIcon && notificationSection) {
            notificationIcon.addEventListener('click', function() {
                notificationSection.classList.toggle('hidden');
            });

            // Optional: Close notification when clicking outside
            document.addEventListener('click', function(event) {
                if (!notificationIcon.contains(event.target) && !notificationSection.contains(event.target)) {
                    notificationSection.classList.add('hidden');
                }
            });
        }
    });
</script>

<script>
    function toggleDropdown(menuId) {
        const dropdown = document.getElementById(menuId + '-dropdown');
        const arrow = document.getElementById(menuId + '-arrow');

        // Close all other dropdowns
        const allDropdowns = document.querySelectorAll('[id$="-dropdown"]');
        const allArrows = document.querySelectorAll('[id$="-arrow"]');

        allDropdowns.forEach(dd => {
            if (dd.id !== menuId + '-dropdown') {
                dd.classList.add('hidden');
            }
        });

        allArrows.forEach(arr => {
            if (arr.id !== menuId + '-arrow') {
                arr.classList.remove('rotate-180');
            }
        });

        // Toggle current dropdown
        dropdown.classList.toggle('hidden');
        arrow.classList.toggle('rotate-180');
    }
</script>
</body>
</html>